<p-multiSelect class="m-1" (onChange)="filtrarData()" [options]="AniosRegistrosBack" [(ngModel)]="AniosSeleccionados" display="chip" placeholder="Años" optionLabel="Anio"></p-multiSelect>

<p-multiSelect class="m-1" (onChange)="filtrarData()" [options]="MesesRegistrosBack" [(ngModel)]="MesesSeleccionados" display="chip" placeholder="Meses" optionLabel="Mes"></p-multiSelect>
<p-multiSelect class="m-1" (onChange)="filtrarData()"  [options]="CuentasBanco" [(ngModel)]="CuentasBancoSelect" display="chip" placeholder="Cuentas" optionLabel="Cuenta"></p-multiSelect>
<p-multiSelect class="m-1" (onChange)="filtrarData()"  [options]="Usuarios" [(ngModel)]="UsuariosSelect" display="chip" placeholder="Usuarios" optionLabel="Nombres"></p-multiSelect>
<p-multiSelect class="m-1" (onChange)="filtrarData()"  [options]="Sucursales" [(ngModel)]="SucursalesSelect" display="chip" placeholder="Sucursales" optionLabel="Nombre"></p-multiSelect>
<div class="container-table">
  <div class="table-responsive mt-3">
    <table [class]="getTableClass()" class="table table-100">
      <thead class="cabecera">
        <th class="text-left" style="padding: 0.5rem;background-color: #0c8c86;text-transform: uppercase;">Naturalezas</th> 
        <ng-container *ngFor="let anio of Anios">      
          <ng-container *ngFor="let mes of Meses">
            <th class="text-center" style="padding: 0.7rem; font-weight: 500; text-transform: uppercase; ">{{ 'Plan ' + mes.Mes + ' - ' + anio.Anio }}</th>
            <th class="text-center" style="padding: 0.7rem; font-weight: 500; text-transform: uppercase;">{{ mes.Mes + ' - ' + anio.Anio }}</th>
            <th class="text-center" style="padding: 0.7rem; font-weight: 500; text-transform: uppercase;">{{ 'Diferencia '}}</th>
            <th class="text-center" style="padding: 0.7rem; font-weight: 500; text-transform: uppercase;">{{ '% Variación ' }}</th>
          </ng-container>
        </ng-container>
      </thead>
      <tbody>
        <ng-container *ngFor="let categoria of Categorias; let j = index">
          <tr [ngClass]="{'cabecera-categoria': categoria.Calculado}">
            <td [ngClass]="{'cabecera-categoria': categoria.Calculado, 'cabecera-categoria-no-calc': !categoria.Calculado}">
              <span class="categoria-toggle">{{ categoria.Nombre }}</span>
            </td>
            <ng-container *ngFor="let anio of Anios">      
              <ng-container *ngFor="let mes of Meses">
                <ng-container *ngIf="categoria.Calculado==false">
                  <td class="text-center">
                    <div   class="input-group">
                      <span class="input-group-text">$</span>
                      <input
                      #Valor
                      [value]="this.getValuePlan(categoria.id,mes.Mes,anio.Anio) "
                      (keyup.enter)="guardarValorPlan(anio.Anio, mes.Mes,categoria.id,Valor.value)"
                      type="number" class="form-control" aria-label="Amount (to the nearest dollar)">
                    </div>
                  </td>
                  <td  class="text-center">{{ "$" + " " + (getValorCategoria(categoria.id, mes.Mes, anio.Anio) | number) }}</td>
                </ng-container>
                <ng-container *ngIf="categoria.Calculado==true">
                  <td class="text-center">{{ "$" + " " + (getValuePlanFlujo(categoria.Categorias, mes.Mes, anio.Anio) | number) }}</td>
                  <td class="text-center">{{ "$" + " " + (getValueCategoria(categoria.Categorias, mes.Mes, anio.Anio) | number) }}</td>
                  

                </ng-container>
                <td *ngIf="categoria.Calculado==false"  class="text-center">{{ "$" + " " + (calcularDiferencia(categoria.id, mes.Mes, anio.Anio) | number) }}</td>
                <td *ngIf="categoria.Calculado==true"  class="text-center">{{ "$" + " " + (calcularDiferenciaFlujos(categoria.Categorias, mes.Mes, anio.Anio) | number) }}</td>

                <td *ngIf="categoria.Calculado==false" class="text-center">
                  {{ ((calcularMargen(categoria.id, mes.Mes, anio.Anio) | number) | number : '1.0-2') + " %" }}
                  <i *ngIf="calcularMargen(categoria.id, mes.Mes, anio.Anio) <= 0" class="fas fa-arrow-down text-danger"></i>
                  <i *ngIf="calcularMargen(categoria.id, mes.Mes, anio.Anio) > 0" class="fas fa-arrow-up text-success"></i>
                </td>
                <td *ngIf="categoria.Calculado==true" class="text-center">
                  {{ ((calcularMargenFlujos(categoria.Categorias, mes.Mes, anio.Anio) | number) | number : '1.0-2') + " %" }}
                  <i *ngIf="calcularMargenFlujos(categoria.Categorias, mes.Mes, anio.Anio) <= 0" class="fas fa-arrow-down text-danger"></i>
                  <i *ngIf="calcularMargenFlujos(categoria.Categorias, mes.Mes, anio.Anio) > 0" class="fas fa-arrow-up text-success"></i>
                </td>
             


              </ng-container>
            </ng-container>
          </tr>
        </ng-container>
      </tbody>
    </table>
    </div>
  
</div>
