@import '../../flujos/consolidado/flujos-consolidado.component.scss';


.container-table{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 100%;
    padding: 1rem;
    
}


.table {
    border: 1px solid #e9ecef;
    align-self: start;
  }

  .table-reduced {
    width: 50%;
  
    align-self: start;
    table-layout: fixed;
  }
  
  .cabecera th {
    min-width: 200px;
    max-width: 200px;
  }
  


  .input-group-text {
    min-width: 30px;
  }
  
  .cabecera-categoria {
    background-color: #e0f7fa;
  }
  
  .cabecera-categoria-no-calc {
    background-color: #ffffff;
  }
  
  .text-center {
    text-align: center;
  }
  