<!-- <p-multiSelect 
 *ngIf="!this.MostrarTodasSemanas"
    class="m-1"
    [options]="Semanas" 
    [(ngModel)]="SemanasSeleccionadas" 
    optionLabel="SemanaAnio" 
    placeholder="Seleccione semanas" /> -->
<!-- <p-multiSelect 
*ngIf="this.MostrarTodasSemanas"
    class="m-1"
    [options]="SemanasTodas" 
    [(ngModel)]="SemanasSeleccionadas" 
    optionLabel="SemanaAnio" 
    placeholder="Seleccione semanas" /> -->
<p-multiSelect class="m-1"
 [options]="MesesBack" 
 (onChange)="filtrarPorAnioMes()"
 appendTo="body"
 [(ngModel)]="MesesSeleccionados"
 optionLabel="Mes" placeholder="Meses" 
 />
<p-multiSelect class="m-1"
 [options]="AniosBack"
 (onChange)="filtrarPorAnioMes()"
 appendTo="body" 
 [(ngModel)]="AniosSeleccionados"
 optionLabel="Anio" placeholder="Años" 
 />
<p-multiSelect [disabled]="ProyectoSeleccionado.length>0" 
  class="m-1" (onChange)=" filtrarData();filtrarCuentas(1)" 
  [options]="Sucursales"
  [(ngModel)]="SucursalSeleccionada" 
  optionLabel="Nombre"
  appendTo="body"
  placeholder="Seleccione una sucursal" 
  emptyMessage="No hay sucursales disponibles"
  emptyFilterMessage="No se encontraron coincidencias"
  />
<p-multiSelect [disabled]="SucursalSeleccionada.length>0" class="m-1" (onChange)=" filtrarData();filtrarCuentas(2)" [options]="Proyectos"
  [(ngModel)]="ProyectoSeleccionado"
  optionLabel="NombreSucursal" 
  appendTo="body"
  placeholder="Seleccione un proyecto"
  emptyMessage="No hay proyectos disponibles"
  emptyFilterMessage="No se encontraron coincidencias"
  />
<p-multiSelect
appendTo="body"
(onChange)=" filtrarData()" class="m-1" [options]="CuentasBancarias"
  [(ngModel)]="CuentaBancariaSeleccionada" optionLabel="CuentaNombre" placeholder="Seleccione una cuenta" />
<br>

<!-- <div class="form-check">
  <input (change)="VerTodasSemanas()" class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
   Ver solo semanas con valores
  </label>
</div> -->

<br>
<div class="form-check form-check-inline">
  <input (change)="cambiarPeriodo(1)" class="form-check-input" 
  type="radio" name="inlineRadioOptions"
  [checked]="verMensual"
  id="inlineRadio1" value="option1">
  <label class="form-check-label" for="inlineRadio1">Mensual</label>
</div>
<div class="form-check form-check-inline">
  <input (change)="cambiarPeriodo(2)" class="form-check-input" type="radio" 
  [checked]="verTrimestral"
  name="inlineRadioOptions" id="inlineRadio2" value="option2">
  <label class="form-check-label" for="inlineRadio2">Trimestral</label>
</div>
<div class="form-check form-check-inline">
  <input (change)="cambiarPeriodo(3)" class="form-check-input"
  [checked]="verSemestral"
  type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
  <label class="form-check-label" for="inlineRadio3">Semestral</label>
</div>

<div *ngIf="verMensual==true">
  <button  type="button"
  [disabled]="this.Cabecera.length<=1"
  (click)="descargarExcel()" class="btn btn-success m-1 mt-2">Descargar <i class="fa-solid fa-file-arrow-down"></i></button>
  <!-- <button *ngIf="Expandir==false"
  [disabled]="this.Cabecera.length<=1"
  (click)="toggleAllRows()" type="button" class="btn btn-info m-1 mt-2">
  <span *ngIf="!ExpandirCuentas">
    Expandir <i class="fa-solid fa-plus"></i>
  </span>
  <span *ngIf="ExpandirCuentas"> 
    Contraer <i class="fa-solid fa-minus"></i>
  </span>
  </button> -->

</div>


<!-- <button *ngIf="showSemanas" 
[disabled]="this.Cabecera.length<=1"
(click)="ocultarSemanas()" type="button" class="btn btn-danger m-1 mt-2">Mensual 
</button>
<button *ngIf="!showSemanas"
[disabled]="this.Cabecera.length<=1"
(click)="mostrarSemanas()" type="button" class="btn btn-warning m-1 mt-2">Semanal 
</button> -->

<div *ngIf="this.Cabecera.length<=1 && this.cargar==false"  class="alert alert-warning mt-2" role="alert">
  No tiene registros en esta empresa
</div>

<div *ngIf="this.cargar==true" class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

  <p-treeTable 
  [value]="DataTreeTable" 
  [columns]="Cabecera" 
  [scrollable]="true" 
  scrollHeight="800px" 
  [resizableColumns]="true"
  [tableStyle]="{'min-width': (Cabecera.length * 150) + 'px'}">
      <ng-template pTemplate="header" let-columns>
          <tr >
              <th style="width: 400px;position: sticky; left: 0; background: white; z-index: 1;">Nombre</th>
              <th style="width: 200px" class="text-center"  *ngFor="let col of columns">{{col.Nombre}}</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
          <tr 
          [ngClass]="{
                    'Abuelo': rowData.tipo=='Abuelo', 
                    'Padre': rowData.tipo=='Padre', 
                    'Hijo': rowData.tipo=='Hijo', 
                    'Nieto': rowData.tipo=='Nieto', 
                    'Saldos': rowData.tipo=='Saldo Inicial' || rowData.tipo=='Saldo Final'     
                    }"
          [ttRow]="rowNode">
              <td style="width: 400px; position: sticky; left: 0; background: inherit;">
                   <p-treeTableToggler [rowNode]="rowNode" />                
                     {{rowData.Nombre}}        
              </td>
              <td style="width: 200px" class="text-center" *ngFor="let col of columns">
                <ng-container *ngIf="col.Tipo==3">
                  <span *ngIf="rowData.tipo=='Abuelo' || rowData.tipo=='Padre' || rowData.tipo=='Saldo Inicial' || rowData.tipo=='Saldo Final'">
                    <span [style.color]="rowData.valores[rowData.idCategoria + '-'+col.NumMes +'-'+col.Anio].Color">
                      {{rowData.valores[rowData.idCategoria + '-'+col.NumMes +'-'+col.Anio].Valor || 0}}
                    </span>

                  </span>
                  <span *ngIf="rowData.tipo=='Hijo'">
                  <span [style.color]="rowData.valores[rowData.idItem + '-'+col.NumMes +'-'+col.Anio].Color">
                    {{rowData.valores[rowData.idItem + '-'+col.NumMes +'-'+col.Anio].Valor || 0}}
                  </span>  
                  </span>
                <span *ngIf="rowData.tipo=='Nieto'">
                  <span [style.color]="rowData.valores[rowData.id + '-'+col.NumMes +'-'+col.Anio].Color">
                    {{rowData.valores[rowData.id + '-'+col.NumMes +'-'+col.Anio].Valor || 0}}
                  </span> 
                </span>
                </ng-container>
                <ng-container *ngIf="col.Tipo==4">
                  <span *ngIf="rowData.tipo=='Abuelo' || rowData.tipo=='Padre' || rowData.tipo=='Saldo Inicial' || rowData.tipo=='Saldo Final'">
                    <span [style.color]="rowData.valores[rowData.idCategoria +'-'+ col.Anio].Color">
                      {{rowData.valores[rowData.idCategoria + '-'+col.Anio].Valor || 0}}
                    </span>
                  </span>
                  <span *ngIf="rowData.tipo=='Hijo'">
                    <span [style.color]="rowData.valores[rowData.idItem +'-'+ col.Anio].Color">
                      {{rowData.valores[rowData.idItem + '-'+col.Anio].Valor || 0}}
                    </span>
                  </span>
                  <span *ngIf="rowData.tipo=='Nieto'">
                    <span [style.color]="rowData.valores[rowData.id +'-'+ col.Anio].Color">
                      {{rowData.valores[rowData.id + '-'+col.Anio].Valor || 0}}
                    </span>
                  </span>
                </ng-container>
                <ng-container *ngIf="col.Tipo==5">
                  <span *ngIf="rowData.tipo=='Abuelo' || rowData.tipo=='Padre' || rowData.tipo=='Saldo Inicial' || rowData.tipo=='Saldo Final'">
                    <span [style.color]="rowData.valores['Prom-'+ rowData.idCategoria +'-'+ col.Anio]?.Color || '' ">
                      {{rowData.valores['Prom-'+rowData.idCategoria + '-'+col.Anio]?.Valor || 0 }}
                    </span>
                  </span>
                  <span *ngIf="rowData.tipo=='Hijo'">
                    <span [style.color]="rowData.valores['Prom-'+rowData.idItem +'-'+ col.Anio]?.Color || '' ">
                      {{rowData.valores['Prom-'+rowData.idItem + '-'+col.Anio]?.Valor || 0 }}
                    </span>
                  </span>
                  <span *ngIf="rowData.tipo=='Nieto'">
                    <span [style.color]="rowData.valores['Prom-'+rowData.id +'-'+ col.Anio]?.Color || '' ">
                      {{rowData.valores['Prom-'+rowData.id + '-'+col.Anio]?.Valor || 0 }}
                    </span>
                  </span>
                </ng-container>
              </td>
          </tr>
      </ng-template>
  </p-treeTable>




<!-- <p-table *ngIf="cargar==true" [value]="DataTreeTable">
  <ng-template pTemplate="header">
      <tr>
          <th>Categoría</th>
          <th *ngFor="let cab of Cabecera">
            <ng-container *ngIf="cab.Tipo!=1">
              {{ cab.Mes }} {{ cab.Anio }}

            </ng-container>
          </th>
      </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData>
      <tr>
          <td>{{ rowData.data.categoria }}</td>
          <td *ngFor="let cab of Cabecera">
            <ng-container *ngIf="cab.Tipo!=1">
              <ng-container *ngIf="cab.Tipo==3">
                {{ rowData.data.values[cab.Mes + '-' + cab.Anio] || 0 }}
              </ng-container>
              <ng-container *ngIf="cab.Tipo==4">
                {{ rowData.data.values[cab.Anio] || 0 }}
              </ng-container>

            </ng-container>
          </td>
      </tr>
  </ng-template>
</p-table> -->


<!-- Para solucionar la tabla de flujos -->


<br>
<consolidado-mejorado-trimestral *ngIf="verTrimestral==true"></consolidado-mejorado-trimestral>
<app-consolidado-mejorado-semestral *ngIf="verSemestral==true"></app-consolidado-mejorado-semestral>



