<!-- <p-multiSelect 
 *ngIf="!this.MostrarTodasSemanas"
    class="m-1"
    [options]="Semanas" 
    [(ngModel)]="SemanasSeleccionadas" 
    optionLabel="SemanaAnio" 
    placeholder="Seleccione semanas" /> -->
<!-- <p-multiSelect 
*ngIf="this.MostrarTodasSemanas"
    class="m-1"
    [options]="SemanasTodas" 
    [(ngModel)]="SemanasSeleccionadas" 
    optionLabel="SemanaAnio" 
    placeholder="Seleccione semanas" /> -->
<!-- <p-multiSelect class="m-1" [options]="Meses" [(ngModel)]="MesesSeleccionados" optionLabel="Mes" placeholder="Meses" /> -->
<p-multiSelect [disabled]="ProyectoSeleccionado.length>0" class="m-1" (onChange)=" filtrarData();filtrarCuentas(1)" [options]="Sucursales"
  [(ngModel)]="SucursalSeleccionada" 
  optionLabel="Nombre"
  appendTo="body"
  placeholder="Seleccione una sucursal" 
  emptyMessage="No hay sucursales disponibles"
  emptyFilterMessage="No se encontraron coincidencias"
  />
<p-multiSelect [disabled]="SucursalSeleccionada.length>0" class="m-1" (onChange)=" filtrarData();filtrarCuentas(2)" [options]="Proyectos"
  [(ngModel)]="ProyectoSeleccionado"
  optionLabel="NombreSucursal" 
  appendTo="body"
  placeholder="Seleccione un proyecto"
  emptyMessage="No hay proyectos disponibles"
  emptyFilterMessage="No se encontraron coincidencias"
  />
<p-multiSelect
appendTo="body"
(onChange)=" filtrarData()" class="m-1" [options]="CuentasBancarias"
  [(ngModel)]="CuentaBancariaSeleccionada" optionLabel="CuentaNombre" placeholder="Seleccione una cuenta" />
<br>

<!-- <div class="form-check">
  <input (change)="VerTodasSemanas()" class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
   Ver solo semanas con valores
  </label>
</div> -->
<button type="button"
[disabled]="this.Cabecera.length<=1"
(click)="descargarExcel()" class="btn btn-success m-1 mt-2">Descargar <i class="fa-solid fa-file-arrow-down"></i></button>
<button *ngIf="Expandir==false"
[disabled]="this.Cabecera.length<=1"
(click)="toggleAllRows()" type="button" class="btn btn-info m-1 mt-2">
<span *ngIf="!ExpandirCuentas">
  Expandir <i class="fa-solid fa-plus"></i>
</span>
<span *ngIf="ExpandirCuentas"> 
  Contraer <i class="fa-solid fa-minus"></i>
</span>
</button>


<!-- <button *ngIf="showSemanas" 
[disabled]="this.Cabecera.length<=1"
(click)="ocultarSemanas()" type="button" class="btn btn-danger m-1 mt-2">Mensual 
</button>
<button *ngIf="!showSemanas"
[disabled]="this.Cabecera.length<=1"
(click)="mostrarSemanas()" type="button" class="btn btn-warning m-1 mt-2">Semanal 
</button> -->

<div *ngIf="this.Cabecera.length<=1 && this.cargar==true"  class="alert alert-warning mt-2" role="alert">
  No tiene registros en esta empresa
</div>

<div *ngIf="this.cargar==false" class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>


<!-- <p-table *ngIf="cargar==true" [value]="DataTreeTable">
  <ng-template pTemplate="header">
      <tr>
          <th>Categoría</th>
          <th *ngFor="let cab of Cabecera">
            <ng-container *ngIf="cab.Tipo!=1">
              {{ cab.Mes }} {{ cab.Anio }}

            </ng-container>
          </th>
      </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData>
      <tr>
          <td>{{ rowData.data.categoria }}</td>
          <td *ngFor="let cab of Cabecera">
            <ng-container *ngIf="cab.Tipo!=1">
              <ng-container *ngIf="cab.Tipo==3">
                {{ rowData.data.values[cab.Mes + '-' + cab.Anio] || 0 }}
              </ng-container>
              <ng-container *ngIf="cab.Tipo==4">
                {{ rowData.data.values[cab.Anio] || 0 }}
              </ng-container>

            </ng-container>
          </td>
      </tr>
  </ng-template>
</p-table> -->
<div class="p-table-wrapper" style="overflow-x: auto; min-width: 100px; max-width: 100%;">
  <p-table #dt *ngIf="cargar==true" 
  [scrollable]="true"
  scrollHeight="600px"
  [tableStyle]="{ 'min-width': '100rem' }"
  [styleClass]="'p-datatable-sm'"	
  [value]="DataTreeTable" dataKey="key">
    <ng-template pTemplate="header">
      <tr >
        <th >Categoría</th>
        <th *ngFor="let cab of Cabecera">
          <ng-container class="text-center" *ngIf="cab.Tipo!=1">
            {{ cab.Mes }} {{ cab.Anio }}
          </ng-container>
        </th>
      </tr>
    </ng-template>
  
    <ng-template pTemplate="body" let-rowData let-expanded="expanded">
      <tr
      [ngClass]="{
        'row-categorias-hijo': rowData.data.tipo != 3 && rowData.data.tipo != 11 && rowData.data.tipo != 0, 
        'row-categorias-padre': rowData.data.tipo == 3 || rowData.data.tipo == 11 || rowData.data.tipo == 0
      }"
    >
        <td>
          <button *ngIf="rowData.data.tipo!=3 && rowData.data.tipo!=11 && rowData.data.tipo!=0" 
          type="button"
          pButton pRipple 
          style="width: 25px; height: 25px; font-size: 12px; padding: 2px;"
          [pRowToggler]="rowData" 
          [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'">
  </button>
  
       
          <span class="text-center">
            {{ rowData.data.categoria }}
          </span>
        </td>
        <td *ngFor="let cab of Cabecera">
          <ng-container *ngIf="cab.Tipo!=1">
            <ng-container class="text-center" *ngIf="cab.Tipo==3">
              {{ "$ " +((rowData.data.values[cab.NumMes + '-' + cab.Anio] || 0) | number)  }}
            </ng-container>
            <ng-container class="text-center" *ngIf="cab.Tipo==4">
              {{ "$ " +((rowData.data.values[cab.Anio] || 0) | number)  }}
            </ng-container>
          </ng-container>
        </td>
      </tr>
    </ng-template>
  
    <ng-template pTemplate="rowexpansion" let-rowData>
      <tr class="children-items" *ngFor="let child of rowData.data.children">
        <td class="text-center justify-content-between">{{ child.data.categoria }}</td>
        <td *ngFor="let cab of Cabecera">
          <ng-container *ngIf="cab.Tipo!=1">
            <ng-container *ngIf="cab.Tipo==3">
              {{ "$ " +((child.data.values[cab.Mes + '-' + cab.Anio] || 0) | number) }}
            </ng-container>
            <ng-container *ngIf="cab.Tipo==4">
              {{ "$ " +((child.data.values[cab.Anio] || 0)| number ) }}
            </ng-container>
          </ng-container>
        </td>
      </tr>
    </ng-template>
  </p-table>

</div>
<!-- <div *ngIf="this.Cabecera.length>1" class="table-responsive mt-1">
  <table class="table">
    <thead style="color:white" class="sticky-header categoria-toggle">
      <ng-container *ngFor="let cab of Cabecera">
        <ng-container  *ngIf="cab.Tipo == 3 && cab.MostrarSemanas==true">
          <td class="text-center"> 

            <button *ngIf="cab.MostrarBotonSemanal==true"
            style="background-color: rgb(255, 80, 80); color: white;"
            type="button" (click)="ocultarMostrar(cab.NumMes,cab.Anio)"
            class="btn btn-danger text-center" ><i class="fa-solid fa-minus"></i> 
         
          </button>
            <button *ngIf="cab.MostrarBotonSemanal==false" 
            style="background-color: rgb(255, 190, 48); color: white;"
            type="button" (click)="ocultarMostrar(cab.NumMes,cab.Anio)"
            class="btn btn-warning text-center" ><i class="fa-solid fa-plus"></i> 
           
          </button>

          </td>
        </ng-container>

        <th *ngIf="cab.Mostrar==true" class="text-center" style="background-color: rgb(113,189,158,255); ">
          {{cab.Nombre}}
        </th>

        <ng-container *ngIf="cab.Tipo == 3">
          <td class="text-center" > 
 
            <button *ngIf="cab.MostrarSemanas==true"
            style="background-color: rgb(109, 211, 131); color: white;"
            type="button" (click)="ocultarMostrarMeses(cab.NumMes,cab.Anio)"
            class="btn btn-danger text-center" ><i class="fa-solid fa-minus"></i> 
      
          </button>
            <button *ngIf="cab.MostrarSemanas==false" 
            style="background-color: rgb(125, 202, 253); color: white;"
            type="button" (click)="ocultarMostrarMeses(cab.NumMes,cab.Anio)"
            class="btn btn-warning text-center" ><i class="fa-solid fa-plus"></i> 
        
          </button>

          </td>
        </ng-container>


      </ng-container>
    </thead>
    <tbody>
      <ng-container *ngFor="let categoria of Categorias; let j = index">
        <tr [ngClass]="{'cabecera-categoria': categoria.Calculado == true}" (click)="toggleCategoria(categoria.id)">
          <td [ngClass]="{
         'cabecera-categoria': categoria.Calculado == true && (categoria.Tipo!=0 || categoria.Tipo!=11 ), 
         'cabecera-categoria-no-calc': categoria.Calculado == false ,
         'cabecera-categoria-saldos': categoria.Calculado == true && (categoria.Tipo==0 || categoria.Tipo==11 )
   
         }">
            <span *ngIf="categoria.Orden==0 || categoria.Orden==11 ||categoria.Orden==1 || categoria.Orden==4 || categoria.Orden==7 || categoria.Orden==10" class="categoria-toggle" style="font-weight: bold;">{{ categoria.Nombre }}</span>
            <span *ngIf="categoria.Orden==2 || categoria.Orden==3 || categoria.Orden==5 || categoria.Orden==6 || categoria.Orden==8 || categoria.Orden==9" class="categoria-toggle" style="font-weight: bold; margin-left: 20px;">{{ categoria.Nombre }}</span>
            <span *ngIf="!categoriasExpandidas[categoria.id]" class="categoria-toggle-icon">
              <span *ngIf="categoria.Calculado == false">
                <i style="cursor: pointer;" class="fa-solid fa-square-minus"></i>
              </span>
            </span>
            <span *ngIf="categoriasExpandidas[categoria.id]" class="categoria-toggle-icon">
              <span *ngIf="categoria.Calculado == false">
                <i style="cursor: pointer;" class="fa-solid fa-square-plus"></i>
              </span>
            </span>
          </td>
          <ng-container *ngFor="let cab of Cabecera">
            <ng-container *ngIf="cab.Tipo!=1">
                  <ng-container *ngIf="cab.Tipo==2 && cab.Mostrar==true">
                    <th class="text-center" [ngClass]="{
                     'cabecera-categoria': categoria.Calculado == true && (categoria.Tipo!=0 || categoria.Tipo!=11 ), 
                     'cabecera-categoria-no-calc': categoria.Calculado == false ,
                     'cabecera-categoria-saldos': categoria.Calculado == true && (categoria.Tipo==0 || categoria.Tipo==11 )
                     
                     }">
                    <span *ngIf="DataCategorias[cab.Anio + '-' + cab.NumMes + '-' + categoria.id + '-' +
                     cab.NumSemana]?.[0]?.Tipo==1">
                     {{ "$ " + ( DataCategorias[cab.Anio + '-' + cab.NumMes + '-' + categoria.id + '-' +
                     cab.NumSemana]?.[0]?.Valor| number) }}
                    </span>
                    <span style="color: red;" *ngIf="DataCategorias[cab.Anio + '-' + cab.NumMes + '-' + categoria.id + '-' +
                     cab.NumSemana]?.[0]?.Tipo==2">
                     {{ "-$ " + ( (DataCategorias[cab.Anio + '-' + cab.NumMes + '-' + categoria.id + '-' +
                     cab.NumSemana]?.[0]?.Valor)*-1 | number) }}
                    </span>


                   </th>

                  </ng-container>

                  <ng-container *ngIf="cab.Tipo==3 && cab.MostrarSemanas==true ">
                    <td style="background-color: white;"></td>
                  </ng-container>

                <ng-container *ngIf="cab.Tipo==3 && cab.Mostrar==true">
                  <td class="text-center" style="font-weight: bolder; background-color: rgba(177, 177, 177, 0.2);">

                    <span *ngIf=" DataCategoriasMensual[cab.Anio  + '-' + cab.NumMes + '-' + categoria.id]?.[0]?.Tipo==1" >
                      {{ "$ " + ( (DataCategoriasMensual[cab.Anio  + '-' + cab.NumMes + '-' + categoria.id]?.[0]?.Valor)|
                    number) }}
                    </span>

                    <span style="color: red;" *ngIf=" DataCategoriasMensual[cab.Anio  + '-' + cab.NumMes + '-' + categoria.id]?.[0]?.Tipo==2" >
                      {{ "-$ " + ( (DataCategoriasMensual[cab.Anio  + '-' + cab.NumMes + '-' + categoria.id]?.[0]?.Valor)*-1|
                    number) }}
                    </span>

                  </td>
                </ng-container>
       
                <ng-container *ngIf="cab.Tipo==3">
                  <td style="background-color: white;"></td>
                </ng-container>
  
                <ng-container *ngIf="cab.Tipo==4">
                  <td class="text-center" style="font-weight: bolder; background-color: rgb(87, 87, 86, 0.2);"
                    class="text-center">
                  
                  <span *ngIf="DataCategoriasAnual[cab.Anio + '-' + categoria.id]?.[0]?.Tipo==1">
                    {{ "$ " + ( DataCategoriasAnual[cab.Anio + '-' + categoria.id]?.[0]?.Valor| number) }}
                  </span>
                  <span style="color: red;" *ngIf="DataCategoriasAnual[cab.Anio + '-' + categoria.id]?.[0]?.Tipo==2">
                    {{ "-$ " + ( (DataCategoriasAnual[cab.Anio + '-' + categoria.id]?.[0]?.Valor)*-1| number) }}
                  </span>

                  </td>

                </ng-container>
            </ng-container>

          </ng-container>
        </tr>
        <ng-container *ngIf="!categoriasExpandidas[categoria.id]">
          <ng-container class="animate__animated animate__bounceIn" *ngFor="let item of getItems(categoria.id)">
            <tr style="background-color: #FAFAFA">
              <td style="background-color: white"><span style="margin-left: 40px;">{{ item.Nombre
                  }}</span></td>
              <ng-container *ngFor="let cab of Cabecera">
                 <ng-container *ngIf="cab.Tipo!=1">
                     <ng-container *ngIf="cab.Tipo==2 && cab.Mostrar==true">

                       <td style="font-weight: bolder;" class="text-center">
                       
                       
                       <span *ngIf="DataItems[cab.Anio + '-' + cab.NumMes + '-' + item.id + '-' +
                        cab.NumSemana]?.[0]?.Tipo==1">
                          {{ "$ " + ( DataItems[cab.Anio + '-' + cab.NumMes + '-' + item.id + '-' +
                        cab.NumSemana]?.[0]?.Valor| number) }}
                        </span>

                       <span style="color: red;" *ngIf="DataItems[cab.Anio + '-' + cab.NumMes + '-' + item.id + '-' +
                        cab.NumSemana]?.[0]?.Tipo==2">
                          {{ "-$ " + ( (DataItems[cab.Anio + '-' + cab.NumMes + '-' + item.id + '-' +
                        cab.NumSemana]?.[0]?.Valor)*-1| number) }}
                        </span>


                       </td>
      
                     </ng-container>

                 <ng-container *ngIf="cab.Tipo==3 && cab.MostrarSemanas==true ">
                      <td style="background-color: white;"></td>
                 </ng-container>
                 
                 <ng-container *ngIf="cab.Tipo==3 && cab.Mostrar==true">
              
                   <td style="font-weight: bolder; background-color: rgba(177, 177, 177, 0.2);" class="text-center">


                     <span *ngIf="DataItemsMensual[cab.Anio + '-' + cab.NumMes + '-' + item.id]?.[0]?.Tipo==1">
                       {{ "$ " + ( DataItemsMensual[cab.Anio + '-' + cab.NumMes + '-' + item.id]?.[0]?.Valor| number) }}
                     </span>

                    <span style="color: red;" *ngIf="DataItemsMensual[cab.Anio + '-' + cab.NumMes + '-' + item.id]?.[0]?.Tipo==2">
                       {{ "-$ " + ( (DataItemsMensual[cab.Anio + '-' + cab.NumMes + '-' + item.id]?.[0]?.Valor)*-1| number) }}
                     </span>
                     
                   </td>

                 </ng-container>
                  <ng-container *ngIf="cab.Tipo==3">
                      <td style="background-color: white;"></td>
                  </ng-container>
                  

              
                  <ng-container *ngIf="cab.Tipo==4">
                    
                    <td class="text-center" style="font-weight: bolder; background-color: rgb(87, 87, 86, 0.2);"
                    class="text-center">

                    <span *ngIf="DataItemsAnual[cab.Anio  + '-' + item.id]?.[0]?.Tipo==1">
                      {{ "$ " + ( DataItemsAnual[cab.Anio  + '-' + item.id]?.[0]?.Valor| number) }}
                    </span>

                   <span style="color: red;" *ngIf="DataItemsAnual[cab.Anio  + '-' + item.id]?.[0]?.Tipo==2">
                      {{ "-$ " + ( (DataItemsAnual[cab.Anio  + '-' + item.id]?.[0]?.Valor)*-1| number) }}
                    </span>
                  </td>
                </ng-container>
              </ng-container>
            </ng-container>



            </tr>
          </ng-container>
        </ng-container>
      </ng-container>
    </tbody>
  </table>
</div> -->