


<div class="header">
  <app-progress-indicator [progress]="calculateProgress()"></app-progress-indicator>
</div>

<div class="stepper-container">
  <div class="stepper-header">
    <div class="step" [class.active]="currentStep === 1">
      <div class="step-number">1</div>
      <div class="step-title">Crear cuentas</div>
    </div>
    <div class="step-connector"></div>
    <div class="step" [class.active]="currentStep === 2">
      <div class="step-number">2</div>
      <div class="step-title">Crear cuenta de banco</div>
    </div>
    <div class="step-connector"></div>
    <div class="step" [class.active]="currentStep === 3">
      <div class="step-number">3</div>
      <div class="step-title">Crea socio de negocio</div>
    </div>
    <div class="step-connector"></div>
    <div class="step" [class.active]="currentStep === 4">
      <div class="step-number">4</div>
      <div class="step-title">Crea una empresa</div>
    </div>
    <div class="step-connector"></div>
    <div class="step" [class.active]="currentStep === 5">
      <div class="step-number">5</div>
      <div class="step-title">Crea una sucursal</div>
    </div>
  </div>

  <div class="stepper-content animate__animated" [ngClass]="{ 'animate__fadeIn': currentStep === 1 }" *ngIf="currentStep === 1">
    <app-elemento></app-elemento>
    <button type="button" (click)="nextStep()" class="btn btn-info shadow-4 mx-auto">Next</button>
  </div>

  <div class="stepper-content animate__animated" [ngClass]="{ 'animate__fadeIn': currentStep === 2 }" *ngIf="currentStep === 2">
    <app-bancos></app-bancos>
    <div class="group-buttons">
      <button type="button" (click)="previousStep()" class="btn btn-danger shadow-4 mx-auto">Back</button>
      <button type="button" (click)="nextStep()" class="btn btn-info shadow-4 mx-auto">Next</button>
    </div>
  </div>

  <div class="stepper-content animate__animated" [ngClass]="{ 'animate__fadeIn': currentStep === 3 }" *ngIf="currentStep === 3">
    <app-socios></app-socios>
    <div class="group-buttons">
      <button type="button" (click)="previousStep()" class="btn btn-danger shadow-4 mx-auto">Back</button>
      <button type="button" (click)="nextStep()" class="btn btn-info shadow-4 mx-auto">Next</button>
    </div>
  </div>

  <div class="stepper-content animate__animated" [ngClass]="{ 'animate__fadeIn': currentStep === 4 }" *ngIf="currentStep === 4">
    <app-empresas></app-empresas>
    <div class="group-buttons">
      <button type="button" (click)="previousStep()" class="btn btn-danger shadow-4 mx-auto">Back</button>
      <button type="button" (click)="nextStep()" class="btn btn-info shadow-4 mx-auto">Next</button>
    </div>
  </div>

  <div class="stepper-content animate__animated" [ngClass]="{ 'animate__fadeIn': currentStep === 5 }" *ngIf="currentStep === 5">
    <app-sucursal></app-sucursal>
    <div class="group-buttons">
      <button type="button" (click)="previousStep()" class="btn btn-danger shadow-4 mx-auto">Back</button>
      <button type="button" (click)="complete()" class="btn btn-info shadow-4 mx-auto">Complete</button>
    </div>
  </div>
</div>
