<app-card cardTitle="Módulo Cuentas" [options]="false">
  <div class="row">
    <div class="col-md-4">
      <h5>Crear Cuenta</h5>
      <hr />
      <form *ngIf="BancoForm" [formGroup]="BancoForm">
        <div class="form-group">
          <label for="exampleInputEmail1">Banco</label>
          <input type="text" formControlName="Nombre" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Escriba un nombre del banco" />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Cuenta</label>
          <input (input)="verificarBanco()" type="text" formControlName="Cuenta" class="form-control" id="exampleInputPassword1" placeholder="Escriba una cuenta" />
          <span *ngIf="cuentaFound==true" style="color: red;"><p>Ya existe una cuenta con este numero</p></span>

        </div>
 
        <div class="form-group">
          <label for="exampleInputPassword1">Sucursal</label>
          <select formControlName="idSucursal" class="form-control" id="exampleFormControlSelect1">
            <option value="0">Seleccione una sucursal</option>
            <option value="{{sucursal.id}}" *ngFor="let sucursal of Sucursales">{{sucursal.Nombre}}</option>

          </select>        
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Moneda</label>
          <select formControlName="idMoneda" class="form-control" id="exampleFormControlSelect1">
            <option value="0">Escoja un tipo de moneda</option>
            <option value="{{moneda.id}}" *ngFor="let moneda of Monedas">{{moneda.Moneda}}</option>
          </select>        
        </div>

        <button [disabled]="this.BancoForm.invalid || cuentaFound==true" (click)="crearBanco()" type="button" class="btn btn-primary">Guardar</button>
      </form>
    </div>
    <div class="col-md-8">
      <h5>Lista de Cuentas</h5>
      <hr />
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th class="text-center">Banco</th>
              <th class="text-center">Cuenta</th>
              <th class="text-center">Sucursal</th>
              <th class="text-center">Editar</th>
              <th class="text-center">Inactivar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let banco of Bancos;index as i">
              <th scope="row">{{i+1}}</th>
              <td class="text-center">
                <ng-container *ngIf="!banco.Editando; else editarBanco">
                  {{banco.Nombre}}
                </ng-container>
                <ng-template #editarBanco>
                  <input  [(ngModel)]="banco.Nombre" class="form-control text-center col-4">
                </ng-template>
              </td>
              <td class="text-center">
                <ng-container *ngIf="!banco.Editando; else editarCuenta">
                  {{banco.Cuenta}}
                </ng-container>
                <ng-template #editarCuenta>
                  <input  [(ngModel)]="banco.Cuenta" class="form-control text-center col-4">
                </ng-template>
              </td>
              <td class="text-center">
                <ng-container *ngIf="!banco.Editando; else editarSucursal">
                  {{getNombreSucursal(banco.idSucursal)}}
                </ng-container>
                <ng-template #editarSucursal>
                  <select [(ngModel)]="banco.idSucursal" id="inputState" class="form-select">
                    <option value="0">Seleccione una sucursal</option>
                    <option value="{{sucursal.id}}" *ngFor="let sucursal of Sucursales">{{sucursal.Nombre}}</option>
                  </select>
                </ng-template>
              </td>
              <td *ngIf="!banco.Editando">
                <!-- Botón de editar -->
                <button (click)="toggleEdicion(banco)" type="button" class="btn btn-success text-center">
                  <i class="feather icon-edit"></i>
                </button>
              </td>
              <td *ngIf="banco.Editando">
                <!-- Botón de editar -->
                <button (click)="actualizarBanco(banco)" type="button" class="btn btn-info text-center">
                  <i class="feather icon-check"></i>
                </button>
              </td>
              <td class="text-center"  *ngIf="banco.Activo"><button (click)="ActualizarBancoEstado(banco,false)" type="button" class="btn btn-success"><i class="fa-solid fa-toggle-on"></i></button></td>
              <td class="text-center"  *ngIf="!banco.Activo"><button (click)="ActualizarBancoEstado(banco,true)" type="button" class="btn btn-danger"><i class="fa-solid fa-toggle-off"></i></button></td>
         
            </tr>
        
        
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </app-card>
