.custom-input {
  height: 30px;      /* reduce alto */
  width: 100%;      /* aumenta ancho */
  font-size: 14px;   /* ajusta tamaño de texto */
  padding: 2px 6px;  /* controla espacio interno */
}

.toast-center-center {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  position: fixed !important;
}