.custom-input {
  height: 45px;      /* reduce alto */
  width: 100%;      /* aumenta ancho */
  font-size: 14px;   /* ajusta tamaño de texto */
  padding: 2px 6px;  /* controla espacio interno */
}
.custom-input-buscador {
  height: 40px;      /* reduce alto */
  width: 130%;      /* aumenta ancho */
  font-size: 14px;   /* ajusta tamaño de texto */
  padding: 2px 6px;  /* controla espacio interno */
}

.toast-center-center {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  position: fixed !important;
}
.custom-input-cuenta {
  height: 30px;      /* reduce alto */
  width: 400px;      /* aumenta ancho */
  margin-left: 70px;
  font-size: 14px;   /* ajusta tamaño de texto */
  padding: 2px 6px;  /* controla espacio interno */
}




@media (min-width: 1100px) and (max-width: 1290px) { 
  /* En tu archivo CSS */
  .tree-container {
    max-height: 500px; /* Altura máxima que desees */
    overflow-y: auto; /* Scroll vertical cuando sea necesario */
  }
  
  .tree-container .p-tree {
    width: 100%;
  }

.expandable-button{
  margin-left: -90px;
  }
 }
@media (min-width: 1300px) and (max-width: 2000px) { 
  /* En tu archivo CSS */
  .tree-container {
    max-height: 600px; /* Altura máxima que desees */
    overflow-y: auto; /* Scroll vertical cuando sea necesario */
  }
  
  .tree-container .p-tree {
    width: 100%;
  }
  .expandable-button{
  margin-left: -115px;
  }


 }