<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Mantenimiento de Cuentas Contables" [options]="false">
      <div style="margin-top: -40px;" class="row">
        <div class="col-4">
          <label for="formGroupExampleInput" class="form-label">Proyectos</label>
          <ng-select
            loadingText="Cargando cuentas..."
            notFoundText="No hay proyectos disponibles"
            class="mt-1"
            [items]="Proyectos"
            [multiple]="true"
            [closeOnSelect]="false"
            [searchable]="true"
            bindLabel="Nombre"
            placeholder="Proyectos"
            [(ngModel)]="ProyectosSeleccionados"
          >
          </ng-select>
        </div>
        <div class="col-4">
         <label for="formGroupExampleInput" class="form-label">Sucursales</label>
          <ng-select
            loadingText="Cargando cuentas..."
            notFoundText="No hay sucursales disponibles"
            class="mt-1"
            [items]="Sucursales"
            [multiple]="true"
            [closeOnSelect]="false"
            [searchable]="true"
            bindLabel="Nombre"
            placeholder="Sucursales"
            [(ngModel)]="SucursalesSeleccionadas"
          >
          </ng-select>

        </div>
      </div> 

      <div class="row" *ngIf="cargando == false">
        <div class="col-4">
          <p-accordion (activeIndexChange)="activeIndexChange($event)" [activeIndex]="activeIndex">
            <p-accordionTab header="Crear Cuenta Hijo">
              <div class="d-flex justify-content-end">
                <div style="margin-top: -60px">
                  <p-inputSwitch (onChange)="cambiarEstadoCuentaHijo()" [(ngModel)]="checkedHijo" />
                </div>
              </div>

              <div class="row">
                <div style="margin-top: -14px" class="col-12">
                  <label for="formGroupExampleInput" class="form-label">Nombre de la cuenta</label>
                  <input
                    #InputCuentaHijo
                    [formControl]="NombreCuentaHijo"
                    type="text"
                    class="form-control custom-input"
                    placeholder=""
                    aria-label="Last name"
                  />
                </div>
              </div>
              <div ngbAccordion>
                <div ngbAccordionItem [collapsed]="true">
                  <h2 ngbAccordionHeader>
                    <button ngbAccordionButton>Mas opciones</button>
                  </h2>
                  <div ngbAccordionCollapse>
                    <div ngbAccordionBody>
                      <ng-template>
                        <label for="formGroupExampleInput" class="form-label"> Escoja los proyectos asociados a esta cuenta </label>
                        <ng-select
                          loadingText="Cargando cuentas..."
                          notFoundText="No hay proyectos disponibles"
                          class="mt-1"
                          [items]="Proyectos"
                          [multiple]="true"
                          [closeOnSelect]="false"
                          [searchable]="true"
                          bindLabel="Nombre"
                          placeholder="Proyectos"
                          [(ngModel)]="ProyectosSeleccionados"
                        >
                        </ng-select>

                        <label for="formGroupExampleInput" class="form-label mt-2"> Escoja las sucursales asociadas a esta cuenta </label>
                        <ng-select
                          loadingText="Cargando cuentas..."
                          notFoundText="No hay proyectos disponibles"
                          class="mt-1"
                          [items]="Sucursales"                  
                          [multiple]="true"
                          [closeOnSelect]="false"
                          [searchable]="true"
                          bindLabel="Nombre"
                          placeholder="Sucursales"
                          [(ngModel)]="SucursalesSeleccionadas"
                        >
                        </ng-select>
                      </ng-template>
                    </div>
                  </div>
                </div>
              </div>

              <button
                type="button"
                [disabled]="this.CuentaPadreSeleccionada == null"
                (click)="guardarCuentaHijo()"
                class="btn btn-success mt-3"
                >Guardar</button
              >
            </p-accordionTab>
            <!-- <p-accordionTab header="Crear Cuenta Nieto">
              <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium... </p>
            </p-accordionTab> -->
          </p-accordion>
        </div>
        <div *ngIf="TreeData.length > 0" class="col-8">
     
          <div class="card flex justify-content-center">
            <div class="tree-container">
                   <h6>Catálago de Cuentas Contables</h6>
              <p-tree
                [value]="TreeData"
                selectionMode="single"
                [draggableNodes]="true"
                [droppableNodes]="true"
                draggableScope="self"
                droppableScope="self"
                [validateDrop]="true"
                [(selection)]="selectedNode"
                (onNodeDrop)="onNodeDrop($event)"
                (onNodeSelect)="onNodeSelected($event)"
              />
            </div>
          </div>
        </div>
      </div>
    </app-card>
  </div>
</div>
