
<div class="d-flex justify-content-center">

  <button type="button" (click)="switchTipoRegistro(0)" class="btn btn-success m-1">Todos <i class="fa-solid fa-rotate-right"></i></button>
  <button type="button" (click)="switchTipoRegistro(1)" class="btn btn-info m-1">General <i class="fa-solid fa-building"></i></button>
  <button type="button" (click)="switchTipoRegistro(2)" class="btn btn-warning m-1">Proyectos <i class="fa-solid fa-diagram-project"></i></button>
</div>

<p-multiSelect   class="m-1" [options]="Anios"
  [(ngModel)]="AniosSeleccionados" (onChange)="getAniosActivos()"  optionLabel="Anio" placeholder="Años" />
<p-multiSelect   class="m-1" (onChange)="getMesesActivos()"  [options]="Meses"
  [(ngModel)]="MesesSeleccionados" optionLabel="Mes" placeholder="Meses" />

<p-dropdown   class="m-1" (onChange)=" filtrarDataSucursal()" [options]="Sucursales"
  [(ngModel)]="SucursalSeleccionada" optionLabel="Nombre" placeholder="Seleccione una sucursal" />
<p-dropdown   class="m-1" (onChange)=" filtrarDataProyecto()" [options]="Proyectos"
  [(ngModel)]="ProyectoSeleccionado" optionLabel="NombreSucursal" placeholder="Seleccione un proyecto" />

<div *ngIf="!cargando" class="container-table">
  <div class="table-responsive mt-3">
    <table [class]="getTableClass()" class="table table-100">
      <thead class="cabecera">
    
        <ng-container *ngFor="let cab of Cabecera">    
          <th *ngIf="cab.Tipo==1" class="text-left"
          style="padding: 0.5rem;background-color: #0c8c86;text-transform: uppercase;"
          >Naturalezas</th>    
            <th 
            *ngIf="cab.Tipo!=1"
            class="text-center" style="padding: 0.7rem; font-weight: 500; text-transform: uppercase; ">
              {{ cab.Nombre}}
            </th> 
        </ng-container>
      </thead>
      <tbody>
        <ng-container *ngFor="let categoria of Categorias; let j = index">
          <tr [ngClass]="{'cabecera-categoria': categoria.Calculado == true}" >
            <td [ngClass]="{
           'cabecera-categoria': categoria.Calculado == true && (categoria.Tipo!=0 || categoria.Tipo!=11 ), 
           'cabecera-categoria-no-calc': categoria.Calculado == false ,
           'cabecera-categoria-saldos': categoria.Calculado == true && (categoria.Tipo==0 || categoria.Tipo==11 )
           
           }">
              <span class="categoria-toggle">{{ categoria.Nombre }}</span>
              <span *ngIf="!categoriasExpandidas[categoria.id]" class="categoria-toggle-icon">
                <span *ngIf="categoria.Calculado == false">
                  <i (click)="toggleCategoria(categoria.id)" style="cursor: pointer;" class="fa-solid fa-square-minus"></i>
                </span>
              </span>
              <span *ngIf="categoriasExpandidas[categoria.id]" class="categoria-toggle-icon">
                <span *ngIf="categoria.Calculado == false">
                  <i (click)="toggleCategoria(categoria.id)" style="cursor: pointer;" class="fa-solid fa-square-plus"></i>
                </span>
              </span>
            </td>
            <ng-container *ngFor="let anio of Anios">
              <ng-container *ngIf="anio.Mostrar">
              <ng-container *ngFor="let mes of Meses">
                <ng-container *ngIf="mes.Mostrar">
                  <td *ngIf="categoria.Tipo!=3" class="text-center" style="font-weight: bolder; background-color: rgba(177, 177, 177, 0.2);">
                  <span 
                  *ngIf="categoria.Tipo!=2"
                  style="color: black;"  
                  >
                  {{"$ " + (DataPlanesMensual[anio.Anio + '-' + mes.NumMes + '-' + categoria.id]?.[0]?.Valor | number) }}                
                  </span>
                  <span 
                  *ngIf="categoria.Tipo==2"
                  style="color: red;"  
                  >{{"-$ " + ((DataPlanesMensual[anio.Anio + '-' + mes.NumMes + '-' + categoria.id]?.[0]?.Valor*-1) | number)}}                
                  </span>
                  </td>
                  <td *ngIf="categoria.Tipo==3" class="text-center" style="font-weight: bolder; background-color: rgba(177, 177, 177, 0.2);">
                    {{"$ " +  (DataPlanesMensual[anio.Anio + '-' + mes.NumMes + '-' + categoria.id]?.[0]?.Valor|number)}}
                  </td>
                  <td class="text-center" style="font-weight: bolder; background-color: rgba(177, 177, 177, 0.2);">
                    <span 
                    *ngIf="categoria.Tipo!=2"
                    style="color: black;"  
                    >{{ "$ " + ( DataCategoriasMensual[anio.Anio + '-' + mes.NumMes + '-' + categoria.id]?.[0]?.Valor|number) }}                  
                    </span>
                    <span 
                    *ngIf="categoria.Tipo==2"
                    style="color: red;"  
                    >{{ "-$ " + ( (DataCategoriasMensual[anio.Anio + '-' + mes.NumMes + '-' + categoria.id]?.[0]?.Valor*-1)|number) }}                  
                    </span>
                  </td>
                  <td class="text-center" style="font-weight: bolder; background-color: rgba(177, 177, 177, 0.2);">
                    {{"$ " +  (DataPlanesMensual[anio.Anio + '-' + mes.NumMes + '-' + categoria.id]?.[0]?.Diferencia|number)}}

                  </td>
                  <td class="text-center" style="font-weight: bolder; background-color: rgba(177, 177, 177, 0.2);">
                    
                    <span *ngIf="(DataPlanesMensual[anio.Anio + '-' + mes.NumMes + '-' + categoria.id]?.[0]?.Variacion) < 0"
                    style="color: red;">
                      {{(DataPlanesMensual[anio.Anio + '-' + mes.NumMes + '-' + categoria.id]?.[0]?.Variacion|number: '1.0-0') + "%"}}
                    </span>
                    <span *ngIf="(DataPlanesMensual[anio.Anio + '-' + mes.NumMes + '-' + categoria.id]?.[0]?.Variacion) >= 0"
                    style="color: black;">
                      {{(DataPlanesMensual[anio.Anio + '-' + mes.NumMes + '-' + categoria.id]?.[0]?.Variacion|number: '1.0-0') + "%"}}
                    </span>

                    <i *ngIf="(DataPlanesMensual[anio.Anio + '-' + mes.NumMes + '-' + categoria.id]?.[0]?.Variacion) < 0" class="fas fa-arrow-down text-danger"></i>
                    <i *ngIf="(DataPlanesMensual[anio.Anio + '-' + mes.NumMes + '-' + categoria.id]?.[0]?.Variacion) > 0" class="fas fa-arrow-up text-success"></i>
                    <i *ngIf="(DataPlanesMensual[anio.Anio + '-' + mes.NumMes + '-' + categoria.id]?.[0]?.Variacion) == 0" class="fas fa-arrow-right-arrow-left text-warning"></i>
                  </td>

                </ng-container>

                </ng-container>
              </ng-container>
            </ng-container>


            
          </tr>

          <ng-container *ngIf="!categoriasExpandidas[categoria.id]">
            <ng-container class="animate__animated animate__bounceIn" *ngFor="let item of getItems(categoria.id)">
              <tr style="background-color: #FAFAFA">
                <td style="background-color: white"><span style="margin-left: 20px; font-weight: bolder;">{{ item.Nombre
                    }}</span></td>
                <ng-container *ngFor="let anio of Anios">
                  <ng-container *ngIf="anio.Mostrar">
                    <ng-container *ngFor="let mes of Meses">
                      <ng-container *ngIf="mes.Mostrar">
                        <td style="font-weight: bolder; background-color: rgba(177, 177, 177, 0.2);" class="text-center">
                          <div class="animate__animated animate__bounceIn custom-alert shadow-1" 
                          style="color: red; font-size: 11px;" 
                          *ngIf="verifyValue(categoria.Tipo,Valor.value)[0].Estado==false">{{verifyValue(categoria.Tipo,Valor.value)[0].Mensaje}}</div>
                          <div class="input-group mb-3">
                            <span *ngIf="categoria.Tipo==1" class="input-group-text">$</span>
                            <span *ngIf="categoria.Tipo==2" class="input-group-text">-$</span>
                            <input 
                            #Valor
                            [value]="DataItems[anio.Anio + '-' + mes.NumMes + '-' + item.id]?.[0]?.Valor | number"
                            (keyup.enter)="guardarValorPlan(anio.Anio, mes.Mes,categoria.id,item.id,Valor.value,categoria.Tipo,categoria.Orden)"
                            type="text"
                            class="form-control text-center"
      
                            aria-label="Amount (to the nearest dollar)">
                          </div>
                        </td>
                        <td style="font-weight: bolder; background-color: rgba(177, 177, 177, 0.2);" class="text-center">
                          {{ "$ " + ( DataItemsMensual[anio.Anio + '-' + mes.NumMes + '-' + item.id]?.[0]?.Valor| number) }}
                        </td>
                        <td style="font-weight: bolder; background-color: rgba(177, 177, 177, 0.2);" class="text-center">
                          
                          {{"$ " + (DataItems[anio.Anio + '-' + mes.NumMes + '-' + item.id]?.[0]?.Diferencia | number)}}
                        </td>
                        <td style="font-weight: bolder; background-color: rgba(177, 177, 177, 0.2);" class="text-center">
  
                          <span *ngIf="(DataItems[anio.Anio + '-' + mes.NumMes + '-' + item.id]?.[0]?.Variacion) < 0"
                          style="color: red;">
                          {{(DataItems[anio.Anio + '-' + mes.NumMes + '-' + item.id]?.[0]?.Variacion |number: '1.0-0') + "%"}}
                          </span>
                          <span *ngIf="(DataItems[anio.Anio + '-' + mes.NumMes + '-' + item.id]?.[0]?.Variacion) >= 0"
                          style="color: black;">
                          {{(DataItems[anio.Anio + '-' + mes.NumMes + '-' + item.id]?.[0]?.Variacion |number: '1.0-0') + "%"}}
                          </span>
                          
                          <i *ngIf="(DataItems[anio.Anio + '-' + mes.NumMes + '-' + item.id]?.[0]?.Variacion) < 0" class="fas fa-arrow-down text-danger"></i>
                          <i *ngIf="(DataItems[anio.Anio + '-' + mes.NumMes + '-' + item.id]?.[0]?.Variacion) > 0" class="fas fa-arrow-up text-success"></i>
                          <i *ngIf="(DataItems[anio.Anio + '-' + mes.NumMes + '-' + item.id]?.[0]?.Variacion) == 0" class="fas fa-arrow-right-arrow-left text-warning"></i>
                        </td>
                      </ng-container>
                    </ng-container>

                  </ng-container>
             
                </ng-container>
              </tr>
            </ng-container>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
