<div *ngIf="this.cargar==false">
<div class="row">
  <div class="col-3">
    <p-treeSelect 
      class="w-full md:w-20rem" 
      display="chip" 
      [(ngModel)]="selectedNodes" 
      containerStyleClass="w-full" 
      [options]="timeHierarchy" 
      placeholder="Seleccione período"
      (onClear)="verPeriodosSeleccionados()"
      (onNodeSelect)="verPeriodosSeleccionados()"
      (onNodeUnselect)="verPeriodosSeleccionados()"
      [metaKeySelection]="false"
      selectionMode="checkbox"
      appendTo="body"
      [showClear]="true"
      [filter]="true"
      [filterBy]="'label'"
      [scrollHeight]="'400px'"
    ></p-treeSelect>
  </div>
  <div class="col-3">
    <p-multiSelect  
      (onChange)="filtrado()"
      [disabled]="ProyectoSeleccionado.length>0"
      class="m-1" 
      [options]="Sucursales"
      [(ngModel)]="SucursalSeleccionada" 
      optionLabel="Nombre"
      appendTo="body"
      placeholder="Seleccione una sucursal" 
      emptyMessage="No hay sucursales disponibles"
      emptyFilterMessage="No se encontraron coincidencias"
    />
  </div>
  <div class="col-3">
    <p-multiSelect 
    [disabled]="SucursalSeleccionada.length>0" 
    (onChange)="filtrado()"
      class="m-1" 
      [options]="Proyectos"
      [(ngModel)]="ProyectoSeleccionado"
      optionLabel="Nombre" 
      appendTo="body"
      placeholder="Seleccione un proyecto"
      emptyMessage="No hay proyectos disponibles"
      emptyFilterMessage="No se encontraron coincidencias"
    />
  </div>
</div>

<br>
<div class="form-check form-check-inline">
  <input class="form-check-input"
         type="radio"
         name="modo"
         [(ngModel)]="modoSeleccionado"
         [value]="'todo'"
         (change)="capturarCambio()">
  <label class="form-check-label">Todo</label>
</div>

<div class="form-check form-check-inline">
  <input class="form-check-input"
         type="radio"
         name="modo"
         [(ngModel)]="modoSeleccionado"
         [value]="'trimestral'"
         (change)="capturarCambio()">
  <label class="form-check-label">Totales Trimestrales</label>
</div>

<div class="form-check form-check-inline">
  <input class="form-check-input"
         type="radio"
         name="modo"
         [(ngModel)]="modoSeleccionado"
         [value]="'semestral'"
         (change)="capturarCambio()">
  <label class="form-check-label">Totales Semestrales</label>
</div>

<div class="form-check form-check-inline">
  <input class="form-check-input"
         type="radio"
         name="modo"
         [(ngModel)]="modoSeleccionado"
         [value]="'anual'"
         (change)="capturarCambio()">
  <label class="form-check-label">Totales Anuales</label>
</div>

</div>



<div>
<div *ngIf="this.Cabecera.length<=1 && this.cargar==false"  class="alert alert-warning mt-2" role="alert">
    No tiene registros en esta empresa
</div>
  
<div *ngIf="this.cargar==true" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
</div>


<p-treeTable [value]="DataTreeTableReal" [columns]="Cabecera" [scrollable]="true" scrollHeight="800px"
  [styleClass]="selectedSize" [resizableColumns]="true" [tableStyle]="{'min-width': (Cabecera.length * 150) + 'px'}"
  #table>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width: 450px;position: sticky; left: 0; background: #a2d7b4; z-index: 1;">Consolidado Plan</th>
      <th style="width: 250px" class="text-center" [style.background-color]="col?.Color || ''"
        *ngFor="let col of columns">{{col.Nombre}}</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
    <tr [ngClass]="{
                      'Abuelo': rowData.tipo=='Abuelo', 
                      'Padre': rowData.tipo=='Padre', 
                      'Hijo': rowData.tipo=='Hijo', 
                      'Nieto': rowData.tipo=='Nieto', 
                      'Saldos': rowData.tipo=='Saldo Inicial' || rowData.tipo=='Comparativa'     
                      }" [ttRow]="rowNode">
      <td style="width: 450px; position: sticky; left: 0; background: inherit;">
        <p-treeTableToggler [rowNode]="rowNode" />
        {{rowData.Nombre}}
      </td>
      <td style="width: 250px" class="text-center" *ngFor="let col of columns">
        <ng-container *ngIf="col.Tipo==3">
          <span
            *ngIf="rowData.tipo=='Abuelo' || rowData.tipo=='Padre' || rowData.tipo=='Saldo Inicial' || rowData.tipo=='Comparativa'">
            <span [style.color]="rowData.valores[rowData.idCategoria + '-'+col.NumMes +'-'+col.Anio]?.Color || ''">
              {{rowData.valores[rowData.idCategoria + '-'+col.NumMes +'-'+col.Anio]?.Valor || 0}}
            </span>

          </span>
          <span *ngIf="rowData.tipo=='Hijo'">
            <span [style.color]="rowData.valores[rowData.idItem + '-'+col.NumMes +'-'+col.Anio]?.Color || ''">
              <div class="d-flex justify-content-center">
                <div class="input-group mb-3 w-50">
                  <span *ngIf="rowData.TipoCateg==1" class="input-group-text">$</span>
                  <span *ngIf="rowData.TipoCateg==2" class="input-group-text">-$</span>
                  <input 
                  (keyup.enter)="guardarValorPlan(rowData,col.Anio,col.NumMes,col.Mes)"
                  [(ngModel)]="rowData.valores[rowData.idItem + '-' + col.NumMes + '-' + col.Anio].ValorNumero"
                  type="text" 
                  class="form-control" 
                  aria-label="Amount">
                </div>
              </div>
            </span>
          </span>
          <span *ngIf="rowData.tipo=='Nieto'">
            <span [style.color]="rowData.valores[rowData.id + '-'+col.NumMes +'-'+col.Anio]?.Color || ''">
              {{rowData.valores[rowData.id + '-'+col.NumMes +'-'+col.Anio]?.Valor || 0}}
            </span>
          </span>
        </ng-container>
        <ng-container *ngIf="col.Tipo==4">
          <span
            *ngIf="rowData.tipo=='Abuelo' || rowData.tipo=='Padre' || rowData.tipo=='Saldo Inicial' || rowData.tipo=='Comparativa'">
            <span [style.color]="rowData.valores[rowData.idCategoria +'-'+ col.Anio]?.Color || ''">
              {{rowData.valores[rowData.idCategoria + '-'+col.Anio]?.Valor || 0}}
            </span>
          </span>
          <span *ngIf="rowData.tipo=='Hijo'">
            <span [style.color]="rowData.valores[rowData.idItem +'-'+ col.Anio].Color">
              {{rowData.valores[rowData.idItem + '-'+col.Anio]?.Valor || 0}}
            </span>
          </span>
          <span *ngIf="rowData.tipo=='Nieto'">
            <span [style.color]="rowData.valores[rowData.id +'-'+ col.Anio]?.Color || ''">
              {{rowData.valores[rowData.id + '-'+col.Anio]?.Valor || 0}}
            </span>
          </span>
        </ng-container>
        <ng-container *ngIf="col.Tipo==5">
          <span
            *ngIf="rowData.tipo=='Abuelo' || rowData.tipo=='Padre' || rowData.tipo=='Saldo Inicial' || rowData.tipo=='Comparativa'">
            <span [style.color]="rowData.valores['Prom-'+ rowData.idCategoria +'-'+ col.Anio]?.Color || '' ">
              {{rowData.valores['Prom-'+rowData.idCategoria + '-'+col.Anio]?.Valor || 0 }}
            </span>
          </span>
          <span *ngIf="rowData.tipo=='Hijo'">
            <span [style.color]="rowData.valores['Prom-'+rowData.idItem +'-'+ col.Anio]?.Color || '' ">
              {{rowData.valores['Prom-'+rowData.idItem + '-'+col.Anio]?.Valor || 0 }}
            </span>
          </span>
          <span *ngIf="rowData.tipo=='Nieto'">
            <span [style.color]="rowData.valores['Prom-'+rowData.id +'-'+ col.Anio]?.Color || '' ">
              {{rowData.valores['Prom-'+rowData.id + '-'+col.Anio]?.Valor || 0 }}
            </span>
          </span>
        </ng-container>
        <ng-container *ngIf="col.Tipo==6">
          <span
            *ngIf="rowData.tipo=='Abuelo' || rowData.tipo=='Padre' || rowData.tipo=='Saldo Inicial' || rowData.tipo=='Comparativa'">
            <span
              [style.color]="rowData.valores['trim-'+rowData.idCategoria + '-'+ col.NumTrim + '-'+ col.Anio]?.Color || ''">
              {{rowData.valores['trim-'+rowData.idCategoria + '-' + col.NumTrim + '-' + col.Anio]?.Valor || 0}}
            </span>
          </span>
          <span *ngIf="rowData.tipo=='Hijo'">
            <span [style.color]="rowData.valores['trim-'+ rowData.idItem +'-'+ col.NumTrim + '-' + col.Anio].Color">
              {{rowData.valores['trim-'+ rowData.idItem +'-'+ col.NumTrim + '-' + col.Anio]?.Valor || 0}}
            </span>
          </span>
          <span *ngIf="rowData.tipo=='Nieto'">
            <span [style.color]="rowData.valores['trim-'+ rowData.id +'-'+ col.NumTrim + '-' + col.Anio]?.Color || ''">
              {{rowData.valores['trim-'+ rowData.id +'-'+ col.NumTrim + '-' + col.Anio]?.Valor || 0}}
            </span>
          </span>
        </ng-container>
        <ng-container *ngIf="col.Tipo==7">
          <span
            *ngIf="rowData.tipo=='Abuelo' || rowData.tipo=='Padre' || rowData.tipo=='Saldo Inicial' || rowData.tipo=='Comparativa'">
            <span
              [style.color]="rowData.valores['sem-'+ rowData.idCategoria +'-'+ col.NumSem+ '-' + col.Anio]?.Color || '' ">
              {{rowData.valores['sem-'+ rowData.idCategoria +'-'+ col.NumSem + '-' + col.Anio]?.Valor || 0 }}
            </span>
          </span>
          <span *ngIf="rowData.tipo=='Hijo'">
            <span [style.color]="rowData.valores['sem-'+rowData.idItem +'-'+ col.NumSem + '-' + col.Anio].Color">
              {{rowData.valores['sem-'+rowData.idItem + '-'+ col.NumSem+ '-' +col.Anio]?.Valor || 0}}
            </span>
          </span>
          <span *ngIf="rowData.tipo=='Nieto'">
            <span [style.color]="rowData.valores['sem-'+rowData.id +'-'+ col.NumSem + '-' + col.Anio]?.Color || ''">
              {{rowData.valores['sem-'+rowData.id +'-'+ col.NumSem+ '-' + col.Anio]?.Valor || 0}}
            </span>
          </span>

        </ng-container>
        <ng-container *ngIf="col.Tipo==8">
          <span
            *ngIf="rowData.tipo=='Abuelo' || rowData.tipo=='Padre' || rowData.tipo=='Saldo Inicial' || rowData.tipo=='Comparativa'">
            <span
              [style.color]="rowData.valores['trim-prom-'+ rowData.idCategoria + '-'+ col.NumTrim + '-' + col.Anio]?.Color || '' ">
              {{rowData.valores['trim-prom-'+ rowData.idCategoria + '-' + col.NumTrim + '-' + col.Anio]?.Valor || 0 }}
            </span>
          </span>
          <span *ngIf="rowData.tipo=='Hijo'">
            <span
              [style.color]="rowData.valores['trim-Prom-'+rowData.idItem + '-' + col.NumTrim + '-' + col.Anio]?.Color || '' ">
              {{rowData.valores['trim-Prom-'+rowData.idItem + '-' + col.NumTrim + '-' + col.Anio]?.Valor || 0 }}
            </span>
          </span>
          <span *ngIf="rowData.tipo=='Nieto'">
            <span
              [style.color]="rowData.valores['Prom-nieto-trim-'+rowData.id + '-' + col.NumTrim + '-' + col.Anio]?.Color || '' ">
              {{rowData.valores['Prom-nieto-trim-'+rowData.id + '-' + col.NumTrim + '-' +col.Anio]?.Valor || 0 }}
            </span>
          </span>
        </ng-container>
        <ng-container *ngIf="col.Tipo==9">
          <span
            *ngIf="rowData.tipo=='Abuelo' || rowData.tipo=='Padre' || rowData.tipo=='Saldo Inicial' || rowData.tipo=='Comparativa'">
            <span
              [style.color]="rowData.valores['sem-prom-'+ rowData.idCategoria +'-'+ col.NumSem + '-' + col.Anio]?.Color || '' ">
              {{rowData.valores['sem-prom-'+ rowData.idCategoria +'-'+ col.NumSem + '-' + col.Anio]?.Valor || 0 }}
            </span>
          </span>
          <span *ngIf="rowData.tipo=='Hijo'">
            <span
              [style.color]="rowData.valores['sem-Prom-'+rowData.idItem +'-'+ col.NumSem +'-'+ col.Anio]?.Color || '' ">
              {{rowData.valores['sem-Prom-'+rowData.idItem + '-'+ col.NumSem +'-'+ col.Anio]?.Valor || 0 }}
            </span>
          </span>

          <span *ngIf="rowData.tipo=='Nieto'">
            <span
              [style.color]="rowData.valores['Prom-nieto-'+rowData.id +'-'+ col.NumSem + '-' + col.Anio]?.Color || ''">
              {{rowData.valores['Prom-nieto-'+rowData.id +'-'+ col.NumSem + '-' + col.Anio]?.Valor || 0}}
            </span>
          </span>

        </ng-container>
      </td>
    </tr>
  </ng-template>
</p-treeTable>


<app-planeado-financiero
*ngIf="this.cargar==false" 
></app-planeado-financiero>
</div>

