<div class="row">
  <div class="col-4">
    <div class="form-group">
      <label for="exampleInputPassword1">Tipo de Operación</label>
      <input type="text" [formControl]="NombreOperacion" class="form-control" id="exampleInputPassword1"
        placeholder="Escriba el nombre del tipo de operacion" />
    </div>
    <button type="button"
    [disabled]="this.NombreOperacion.value==null || this.NombreOperacion.value=='' "
    (click)="crearTipoOperacion()" class="btn btn-warning m-1">Crear
      <i class="fa-solid fa-plus"></i>
    </button>

  
  </div>
</div>

<p-table [value]="TiposOperacion" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
      <tr class="text-center">
          <th>Nombre</th>
          <th>Editar</th>
          <th>Inactivar</th>
      
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-tipo>
      <tr class="text-center">
          <td class="text-center">
            <ng-container *ngIf="!tipo.Editando; else editarNombre">
              {{ tipo.Nombre }}
            </ng-container>
            <ng-template #editarNombre>
              <input [(ngModel)]="tipo.Nombre" class="form-control text-center col-4">
            </ng-template>
          </td>
          <td *ngIf="!tipo.Editando" class="text-center">
            <!-- Botón de editar -->
            <button (click)="toggleEdicion(tipo)" type="button" class="btn btn-success text-center">
              <i class="fa-regular fa-pen-to-square"></i>
            </button>
          </td>
          <td class="text-center" *ngIf="tipo.Editando">
            <!-- Botón de editar -->
            <button (click)="actualizarTipo(tipo)" type="button" class="btn btn-info text-center">
              <i class="fa solid fa-check"></i>
            </button>
          </td>
          <td class="text-center" *ngIf="tipo.Activo"><button (click)="ActualizarTipoEstado(tipo,false)"
            type="button" class="btn btn-success"><i class="fa-solid fa-toggle-on"></i></button></td>
        <td class="text-center" *ngIf="!tipo.Activo"><button (click)="ActualizarTipoEstado(tipo,true)"
            type="button" class="btn btn-danger"><i class="fa-solid fa-toggle-off"></i></button></td>
     

      </tr>
  </ng-template>
</p-table>



