.table-container {
    max-height: 400px; /* Puedes ajustar este valor según tus necesidades */
    overflow-y: auto; /* Esto activará el scroll vertical cuando sea necesario */
  }

  .multiselect-fijo {
    min-width: 300px !important;
    max-width: 300px !important;
}
.text-center{
  font-size: 15px;
}
.text-start{
  font-size: 15px;
}


/* Aplica una transición suave en el cambio de posición */
.item-row {
  transition: transform 0.3s ease;
}

/* Agrega una clase temporalmente para mostrar la animación */
.move-up {
  transform: translateY(-50px); /* Subir */
}

.move-down {
  transform: translateY(50px); /* Bajar */
}

.colorRow{
  background-color: #df0000;
}


