.table-container {
    max-height: 400px; /* Puedes ajustar este valor según tus necesidades */
    overflow-y: auto; /* Esto activará el scroll vertical cuando sea necesario */
  }

  .multiselect-fijo {
    min-width: 300px !important;
    max-width: 300px !important;
}
.text-center{
  font-size: 15px;
}
.text-start{
  font-size: 15px;
}


/* Aplica una transición suave en el cambio de posición */
.item-row {
  transition: transform 0.3s ease;
}

/* Agrega una clase temporalmente para mostrar la animación */
.move-up {
  transform: translateY(-50px); /* Subir */
}

.move-down {
  transform: translateY(50px); /* Bajar */
}

.colorRow{
  background-color: #df0000;
}

.fixed-width-input {
  width: 10px; /* Ajusta el valor según necesites */
}

.editar{
  color: green;
}

.toast-center-center {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  position: fixed !important;
}

.custom-input {
  height: 30px;      /* reduce alto */
  width: 350px;      /* aumenta ancho */
  font-size: 14px;   /* ajusta tamaño de texto */
  padding: 2px 6px;  /* controla espacio interno */
}


    /* Estilo para mantener el texto en una línea */
    .single-line-text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 250px;
      display: block;
    }
    
    /* Para los inputs en modo edición */
    .custom-input {
      width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    
    /* Asegurar que los togglers estén alineados correctamente */
    .p-treetable-toggler {
      margin-right: 5px;
    }

    .fila-abuelo{
      background-color: white;
    }
    .fila-padre{
      background-color: #F9FAFB;
    }
    .fila-hijo{
      background-color: white;
    }
    .fila-nieto{
      background-color: #f3f5f7;
    }