<app-card cardTitle="Módulo Sucursales" [options]="false">
    <button type="button" (click)="cargarFormulario(true)" class="btn btn-success m-1">+ Sucursal</button>

  <div class="row">
    <div class="col-md-12 col-12 col-lg-12">
      <h5>Lista de Sucursales</h5>
      <hr />
      <p-table *ngIf="!cargando" [value]="Sucursales" [tableStyle]="{ 'min-width': '80rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th class="text-center">#</th>
            <th class="text-center">Editar</th>
            <th class="text-center">Inactivar</th>
            <th class="text-center">Sucursal</th>
            <th class="text-center">Usuarios</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-sucursal let-i="rowIndex">
          <tr>
            <th class="text-center" scope="row">{{i+1}}</th>
            <td *ngIf="!sucursal.Editando" class="text-center">
              <!-- Botón de editar -->
              <button (click)="toggleEdicion(sucursal)" type="button" class="btn btn-success text-center">
                <i class="fa-regular fa-pen-to-square"></i>
              </button>
            </td>
            <td class="text-center" *ngIf="sucursal.Editando">
              <!-- Botón de editar -->
              <button (click)="actualizarSucursal(sucursal)" type="button" class="btn btn-info text-center">
                <i class="fa solid fa-check"></i>
              </button>
            </td>
            <td class="text-center" *ngIf="sucursal.Activo"><button (click)="ActualizaEstadoSucursal(sucursal,false)"
                type="button" class="btn btn-success"><i class="fa-solid fa-toggle-on"></i></button></td>
            <td class="text-center" *ngIf="!sucursal.Activo"><button (click)="ActualizaEstadoSucursal(sucursal,true)"
                type="button" class="btn btn-danger"><i class="fa-solid fa-toggle-off"></i></button></td>
              <td class="text-center">
                <ng-container *ngIf="!sucursal.Editando; else editarBanco">
                  {{sucursal.Nombre}}
                </ng-container>
                <ng-template #editarBanco>
                  <input [(ngModel)]="sucursal.Nombre" class="form-control text-center col-4">
                </ng-template>
              </td>
          <td class="text-center">
            <ng-select loadingText="Cargando cuentas..." 
              [(ngModel)]="sucursal.UsuariosSeleccionados" 
              (change)="guardarUsuarios(sucursal)"
              name="UsuariosSeleccionados"
              notFoundText="No hay usuarios disponibles" class="mt-1" [items]="Usuarios" [multiple]="true"
              [closeOnSelect]="false" [searchable]="true" bindLabel="Nombres" 
              placeholder="Seleccione los usuarios">
            </ng-select>
          </td>              


          </tr>
        </ng-template>

      </p-table>



    </div>
  </div>

  
  <p-dialog header="Crear Sucursal" [modal]="true" [(visible)]="visible" [style]="{ width: '50rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true" [draggable]="false">
      <form *ngIf="SucursalForm && visible==true" [formGroup]="SucursalForm">

        <div class="form-group">
          <label for="exampleInputPassword1">Sucursal</label>
          <input (input)="verificarSucursal()" type="text" formControlName="Nombre" class="form-control"
            id="exampleInputPassword1" placeholder="Escriba el nombre de la sucursal" />
          <span *ngIf="sucursalFound==true" style="color: red;">
            <p>Ya existe ya existe una sucursal con este nombre</p>
          </span>

        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Usuarios asignados a esta sucursal</label>
            <ng-select loadingText="Cargando cuentas..." 
             formControlName="UsuariosSeleccionados"
              name="UsuariosSeleccionados"
              notFoundText="No hay usuarios disponibles" class="mt-1" [items]="Usuarios" [multiple]="true"
              [closeOnSelect]="false" [searchable]="true" bindLabel="Nombres" 
              placeholder="Seleccione los usuarios">
            </ng-select>

        </div>

        <button [disabled]="this.SucursalForm.invalid || sucursalFound==true" (click)="crearSucursal()" type="button"
          class="btn btn-primary">Guardar</button>
      </form>


  
  </p-dialog>
</app-card>