<app-card style="height: 1200px;" cardTitle="Módulo Proyectos" [options]="false">
  <button type="button" (click)="showDialog()" class="btn btn-success m-1">+ Proyecto</button>
  <button type="button" [disabled]="this.idEmpresa=='' || this.idEmpresa== '0' " (click)="showCrearSucursal()"
        class="btn btn-info m-1">+ Crear Sucursal
  </button>
  <br>
  <div class="mt-2">
    <div *ngIf="cargando" class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <p-table *ngIf="!cargando" [value]="Proyectos" [tableStyle]="{ 'min-width': '120rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th class="text-center">#</th>
          <th class="text-center">Editar</th>
          <th class="text-center">Inactivar</th>
          <th class="text-center">Proyecto</th>
          <th class="text-center">Usuarios Asignados</th>
          <th class="text-center">Sucursal Asignada</th>
          <th class="text-center">Rango de Tiempo</th>
          <th class="text-center">Duración</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-proyecto let-i="rowIndex">
        <tr>
          <th class="text-center" scope="row">{{i+1}}</th>
          <td *ngIf="!proyecto.Editando" class="text-center">
            <!-- Botón de editar -->
            <button (click)="toggleEdicion(proyecto)" type="button" class="btn btn-success text-center">
              <i class="fa-regular fa-pen-to-square"></i>
            </button>
          </td>
          <td class="text-center" *ngIf="proyecto.Editando">
            <!-- Botón de editar -->
            <button (click)="actualizarProyecto(proyecto)" type="button" class="btn btn-info text-center">
              <i class="fa solid fa-check"></i>
            </button>
          </td>
          <td class="text-center" *ngIf="proyecto.Activo"><button (click)="ActualizaEstadoProyecto(proyecto,false)"
              type="button" class="btn btn-success"><i class="fa-solid fa-toggle-on"></i></button>
          </td>
          <td class="text-center" *ngIf="!proyecto.Activo"><button (click)="ActualizaEstadoProyecto(proyecto,true)"
              type="button" class="btn btn-danger"><i class="fa-solid fa-toggle-off"></i></button>
          </td>
          <td class="text-center">
            <ng-container *ngIf="!proyecto.Editando; else editarProyecto">
              {{proyecto.Nombre}}
            </ng-container>
            <ng-template #editarProyecto>
              <input [(ngModel)]="proyecto.Nombre" class="form-control text-center col-4">
            </ng-template>
          </td>


          <td class="text-center">
            <ng-select loadingText="Cargando cuentas..." (change)="guardarUsuarios(proyecto)"
              [(ngModel)]="proyecto.UsuariosSeleccionados" name="UsuariosSeleccionados"
              notFoundText="No hay usuarios disponibles" class="mt-1" [items]="Usuarios" [multiple]="true"
              [closeOnSelect]="false" [searchable]="true" bindLabel="Nombres" placeholder="Seleccione los usuarios">
            </ng-select>
          </td>
          <td class="text-center">
            <ng-select loadingText="Cargando cuentas..." (change)="guardarSucursal(proyecto)"
              [(ngModel)]="proyecto.SucursalSeleccionada" name="SucursalSeleccionada"
              notFoundText="No hay usuarios disponibles" class="mt-1" [items]="Sucursales" [multiple]="false"
              [closeOnSelect]="false" [searchable]="true" bindLabel="Nombre" placeholder="Seleccione las sucursales">
            </ng-select>
          </td>

          <td class="text-center">
            <ng-container *ngIf="!proyecto.Editando; else editarRango">
              {{(proyecto.FechaInicio==''?'-':proyecto.FechaInicio) + ' al '
              + (proyecto.FechaFinal==''?'-':proyecto.FechaFinal)}}
            </ng-container>
            <ng-template #editarRango>

              <p-calendar [(ngModel)]="proyecto.RangoFechas" [appendTo]="'body'" [numberOfMonths]="2"
                dateFormat="dd/mm/yy" selectionMode="range" [readonlyInput]="false" />


            </ng-template>
          </td>
          <td class="text-center"> {{proyecto.Duracion}}</td>

  

        </tr>
      </ng-template>
    </p-table>

  </div>

  <p-dialog header="Crear Proyecto" [modal]="true" [(visible)]="visible" [style]="{ width: '50rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true" [draggable]="false">
    <form *ngIf="ProyectoForm" [formGroup]="ProyectoForm">

      <div class="form-group">
        <label for="exampleInputPassword1">Proyecto</label>
        <input (input)="verificarProyecto()" type="text" formControlName="Nombre" class="form-control"
          id="exampleInputPassword1" placeholder="Escriba el nombre del proyecto" />
        <span *ngIf="proyectoFound==true" style="color: red;">
          <p>Ya existe un proyecto con este nombre</p>
        </span>

      </div>

      <!-- <div *ngIf="this.usuario.isAdmin==true" class="form-group">
        <label for="exampleInputPassword1">Empresa</label>
        <select (change)="selectSucursalByEmpresa($any($event.target).value)" formControlName="idEmpresa"
          class="form-control" id="exampleFormControlSelect1">
          <option value="0">Seleccione una empresa</option>
          <option value="{{empresa.id}}" *ngFor="let empresa of Empresas">{{empresa.Nombre}}</option>

        </select>
      </div> -->
      <div *ngIf="this.usuario.isAdmin==true" class="form-group">
        <label for="exampleInputPassword1">Sucursal (opcional)
          <span *ngIf="this.Sucursales.length==0" style="color: red;">No tiene sucursales creadas o
            activas</span></label>
        <select formControlName="idSucursal" class="form-control" id="exampleFormControlSelect1">
          <option value="0">Seleccione una sucursal</option>
          <option value="{{sucursal.id}}" *ngFor="let sucursal of Sucursales">{{sucursal.Nombre}}</option>

        </select>
      </div>
      <div *ngIf="this.usuario.isAdmin==false" class="form-group">
        <label for="exampleInputPassword1">Sucursal (opcional)
          <span *ngIf="this.Sucursales.length==0" style="color: red;">No tiene sucursales creadas o
            activas</span></label>
        <select formControlName="idSucursal" class="form-control" id="exampleFormControlSelect1">
          <option value="0">Seleccione una sucursal</option>
          <option value="{{sucursal.id}}" *ngFor="let sucursal of Sucursales">{{sucursal.Nombre}}</option>

        </select>
      </div>
      <div *ngIf="this.idEmpresa!='' ">

        <label for="exampleInputPassword1">Usuarios que se asignarán a este proyecto (opcional)</label>
        <ng-select loadingText="Cargando cuentas..." formControlName="Usuarios"
          notFoundText="No hay usuarios disponibles" class="mt-1" [items]="Usuarios" [multiple]="true"
          [closeOnSelect]="false" [searchable]="true" bindLabel="Nombres" placeholder="Seleccione los usuarios">
        </ng-select>
        <label for="exampleInputPassword1">Sucursal que se asignará a este proyecto (opcional)</label>

        <ng-select loadingText="Cargando cuentas..." formControlName="Sucursal"
          notFoundText="No hay sucursales disponibles" class="mt-1" [items]="Sucursales" [multiple]="false"
          [closeOnSelect]="true" [searchable]="true" bindLabel="Nombre" placeholder="Seleccione una sucursal">
        </ng-select>

      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Duración del proyecto</label>
        <br>
        <p-calendar formControlName="RangoFechas" [numberOfMonths]="2" appendTo="body" dateFormat="dd/mm/yy"
          selectionMode="range" [readonlyInput]="false" />

      </div>
      <button [disabled]="this.ProyectoForm.invalid || proyectoFound==true" (click)="crearProyecto()" type="button"
        class="btn btn-primary">Guardar</button>
    </form>
  </p-dialog>

  <p-dialog header="" [modal]="true" [(visible)]="visibleSucursal" [style]="{ width: '80rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '50vw' }" [maximizable]="true">
  <app-sucursal *ngIf="visibleSucursal==true" [ConfigInicial]="true"></app-sucursal>

  </p-dialog>

</app-card>