.fixed-multiselect .ui-multiselect-label-container {
    width: 200px; /* Ajusta el tamaño deseado */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .custom-width-multiselect {
    width: 600px !important;
    z-index: 999999;
  }
  .table-100 th,
.table-100 td {
  width:250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}