<button type="button" (click)="showDialog()" class="btn btn-success">Crear Usuario</button>


<div class="mt-4">
  <div class="row">


    <div class="col-md-12 col-lg-12 col-12">
      <h5>Lista de Usuarios</h5>
      <hr />

      <div class="table-responsive">
        <p-table [value]="Usuarios" class="table-100" [paginator]="true" [rows]="5"
          [tableStyle]="{ 'min-width': '80rem' }" [styleClass]="claseTabla" [rowsPerPageOptions]="[5, 10, 20]">
          <ng-template pTemplate="header">
            <tr>
              <!-- <th class="text-center">#</th> -->
              <th class="text-center">Editar</th>
              <th class="text-center">Inactivar</th>
              <th class="text-center">Nombre</th>
              <th class="text-center">Correo</th>
              <th class="text-center">Rol</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-usuario>
            <tr>
              <td *ngIf="!usuario.Editando" class="text-center">
                <!-- Botón de editar -->
                <button (click)="toggleEdicion(usuario)" type="button" class="btn btn-success text-center">
                  <i class="fa-regular fa-pen-to-square"></i>
                </button>
              </td>
              <td *ngIf="usuario.Editando" class="text-center">
                <!-- Botón de editar -->
                <button (click)="actualizarUsuario(usuario)" type="button" class="btn btn-info text-center">
                  <i class="fa solid fa-check"></i>
                </button>
              </td>
              <td class="text-center" *ngIf="usuario.Activo"><button (click)="ActualizarUsuarioEstado(usuario,false)"
                  type="button" class="btn btn-success"><i class="fa-solid fa-toggle-on"></i></button>
              </td>
              <td class="text-center" *ngIf="!usuario.Activo"><button (click)="ActualizarUsuarioEstado(usuario,true)"
                  type="button" class="btn btn-danger"><i class="fa-solid fa-toggle-off"></i></button>
              </td>

              <!-- <th class="text-center" scope="row">{{i+1}}</th> -->
              <td class="text-center">
                <ng-container *ngIf="!usuario.Editando; else editarBanco">
                  <span style="width: 500px;">{{usuario.Nombres}}</span>
                </ng-container>
                <ng-template #editarBanco>
                  <input style="width: 400px;" [(ngModel)]="usuario.Nombres" class="form-control text-center col-4">
                </ng-template>
              </td>
              <td class="text-center">
                <ng-container *ngIf="!usuario.Editando; else editarCorreo">
                  {{usuario.Correo}}
                </ng-container>
                <ng-template #editarCorreo>
                  <input [(ngModel)]="usuario.Correo" style="width: 400px;" class="form-control text-center col-4">
                </ng-template>
              </td>
              <td class="text-center">
                <ng-container *ngIf="!usuario.Editando; else editarRol">
                  {{getNombreRol(usuario.idRol)}}
                </ng-container>
                <ng-template #editarRol>
                  <select style="width: 200px;" [(ngModel)]="usuario.idRol" id="inputState" class="form-select">
                    <option value="0">Seleccione un rol</option>
                    <option value="{{rol.id}}" *ngFor="let rol of getRolesByEmpresa(usuario.idEmpresa)">{{rol.Rol}}
                    </option>
                  </select>
                </ng-template>
              </td>




            </tr>
          </ng-template>
        </p-table>

      </div>
    </div>
    <p-dialog header="Crear Usuario" [modal]="true" [(visible)]="visible" [style]="{ width: '40rem',heigth:'90rem' }"
      [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true" [draggable]="false">
      <div style="margin-top: -10px;" class="col-md-12 col-lg-12 col-12">
        <form *ngIf="visible" [formGroup]="usuarioForm">
          <div class="row">
            <div class="col-12 col-lg-6 col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1">Nombres</label>
                <input type="text" formControlName="Nombres" class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp" placeholder="Escriba el nombre del usuario" />
              </div>
            </div>

            <div class="col-md-6 col-lg-6 col-12">
              <div class="form-group">
                <label for="exampleInputPassword1">Usuario</label>
                <input (input)="verificarNombreUser()" type="text" formControlName="Usuario" class="form-control"
                  id="exampleInputPassword1" placeholder="Escriba un nombre de usuario" />
              </div>
              <span style="color:red" *ngIf="usuarioFound==true">Este usuario ya existe</span>
            </div>

            <div class="col-md-6 col-lg-6 col-12">
              <div class="form-group">
                <label for="exampleInputPassword1">Contraseña</label>
                <input type="password" formControlName="Password" class="form-control" id="exampleInputPassword1"
                  placeholder="Escriba una contraseña" />
              </div>
              <span style="color:red" *ngIf="verifyPassw()==true">Esta contraseña ya existe en su organización</span>
            </div>
            <div class="col-md-6 col-lg-6 col-12">
              <div class="form-group">
                <label for="exampleInputPassword1">Verificar Contraseña</label>
                <input type="password" formControlName="PasswordVerificado" class="form-control"
                  id="exampleInputPassword1" placeholder="Escriba nuevamente la contraseña" />
              </div>
              <div *ngIf="usuarioForm.hasError('passwordsNotMatching') && usuarioForm.get('PasswordVerificado')?.dirty">
                <span style="color: red;">Las contraseñas no coinciden</span>
              </div>
            </div>

            <div class="col-md-6 col-lg-6 col-12">
              <div class="form-group">
                <label for="exampleInputPassword1">Correo</label>
                <input type="text" formControlName="Correo" class="form-control" id="exampleInputPassword1"
                  placeholder="Escriba el correo del usuario" />
                <p style="color: red;  display: block; margin-top: -7px;"
                  *ngIf="(usuarioForm.get('Correo')?.touched || usuarioForm.get('Correo')?.dirty) && usuarioForm.get('Correo')?.hasError('required')">
                  Este campo es obligatorio
                </p>
                <p class="alerts-validators" style="color: red;  display: block; margin-top: -7px;"
                  *ngIf="usuarioForm.get('Correo')?.hasError('email')">
                  Este campo debe ser tipo correo
                </p>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-12">
              <div class="form-group">
                <label for="exampleInputPassword1">Verificar Correo</label>
                <input (paste)="disablePaste($event)" type="text" formControlName="CorreoVerificado"
                  class="form-control" id="exampleInputPassword1" placeholder="Escriba nuevamente su correo" />
                <p style="color: red;  display: block; margin-top: -7px;"
                  *ngIf="(usuarioForm.get('CorreoVerificado')?.touched || usuarioForm.get('CorreoVerificado')?.dirty) && usuarioForm.get('CorreoVerificado')?.hasError('required')">
                  Este campo es obligatorio
                </p>
                <p class="alerts-validators" style="color: red;  display: block; margin-top: -7px;"
                  *ngIf="usuarioForm.get('CorreoVerificado')?.hasError('email')">
                  Este campo debe ser tipo correo
                </p>
              </div>

              <div *ngIf="usuarioForm.hasError('emailsNotMatching') && usuarioForm.get('CorreoVerificado')?.dirty">
                <span style="color: red;">Los correos no coinciden</span>
              </div>



            </div>
            <div class="col-12 col-lg-12 col-md-12">
              <div class="form-group">
                <label for="exampleInputPassword1">Rol</label>
                <select formControlName="idRol" id="inputState" class="form-select">
                  <option selected>Escoja un rol</option>
                  <option value="{{rol.id}}" *ngFor="let rol of Roles">{{rol.Rol}}</option>
                </select>
                <p style="color: red;"
                  *ngIf="(usuarioForm.get('idRol')?.touched || usuarioForm.get('idRol')?.dirty) && usuarioForm.get('idRol')?.hasError('required')">
                  Este campo es obligatorio
                </p>
              </div>
            </div>
       
          </div>

          <button [disabled]="this.usuarioForm.invalid || usuarioFound==true || verifyPassw()==true"
            (click)="crearUsuario()" type="button" class="btn btn-primary">Guardar</button>
        </form>
      </div>
    </p-dialog>

    <p-dialog header="" [modal]="true" [(visible)]="visibleSucursal" [style]="{ width: '50rem' }"
      [breakpoints]="{ '1199px': '75vw', '575px': '50vw' }" [maximizable]="true">
      <h6>Crear sucursal para la empresa: <strong>{{this.nombreEmpresa}}</strong> </h6>
      <div class="input-group mb-3">
        <input type="text" [formControl]="Sucursal" class="form-control" placeholder="Nombre de la sucursal"
          aria-label="Username" aria-describedby="basic-addon1">
      </div>


      <button type="button" (click)="crearSucursal()" class="btn btn-success">Crear Sucursal</button>

    </p-dialog>
    <p-dialog header="Crear Proyecto" [modal]="true" [(visible)]="visibleProyecto" [style]="{ width: '50rem' }"
      [breakpoints]="{ '1199px': '75vw', '575px': '50vw' }" [maximizable]="true">

      <form *ngIf="ProyectoForm" [formGroup]="ProyectoForm">
        <div class="form-group">
          <label for="exampleInputPassword1">Proyecto</label>
          <input type="text" formControlName="Nombre" class="form-control" id="exampleInputPassword1"
            placeholder="Escriba el nombre del proyecto" />
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Sucursal (opcional)
            <span *ngIf="this.Sucursales.length==0" style="color: red;">No tiene sucursales creadas o
              activas</span></label>
          <select formControlName="idSucursal" class="form-control" id="exampleFormControlSelect1">
            <option value="0">Seleccione una sucursal</option>
            <option value="{{sucursal.id}}" *ngFor="let sucursal of getSucursalesByEmpresa(this.idEmpresa)">
              {{sucursal.Nombre}}</option>

          </select>
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Duración del proyecto</label>
          <br>
          <p-calendar formControlName="RangoFechas" [numberOfMonths]="2" [appendTo]="'body'" dateFormat="dd/mm/yy"
            selectionMode="range" [readonlyInput]="false" />

        </div>



      </form>


      <button type="button" (click)="crearProyecto()" class="btn btn-success">Crear Proyecto</button>
    </p-dialog>


  </div>
</div>