
<p-tabView>
  <p-tabPanel header="Registros">
   <app-crear></app-crear>
  </p-tabPanel>
  <p-tabPanel header="Cuentas Contables">
 <app-elemento></app-elemento>
  </p-tabPanel>
  <p-tabPanel header="Cuentas de Bancos">
    <app-bancos></app-bancos>
  </p-tabPanel>
  <p-tabPanel header="Socio de Negocios">
    <app-socios></app-socios>
  </p-tabPanel>
  <p-tabPanel header="Usuarios">
    <app-crear-usuario></app-crear-usuario>
  </p-tabPanel>
  <p-tabPanel header="Empresas">
    <app-empresas></app-empresas>
  </p-tabPanel>
  <p-tabPanel header="Sucursales">
    <app-sucursal></app-sucursal>
  </p-tabPanel>
</p-tabView>