
<app-card cardTitle="Módulo registros" [options]="false">
  <app-crear [TipoRegistro]="idTipo"></app-crear>

</app-card>
<!-- <p-tabView>
  <p-tabPanel header="Registros">


  </p-tabPanel>
  <p-tabPanel header="Empresas">
    <app-empresas></app-empresas>
  </p-tabPanel>
  <p-tabPanel header="Sucursales o Proyectos">
    <p-tabView>
      <p-tabPanel header="Sucursales">
        <app-sucursal></app-sucursal>
      </p-tabPanel>
      <p-tabPanel header="Proyectos">
        <app-proyectos></app-proyectos>
      </p-tabPanel>
    </p-tabView>
  </p-tabPanel>
  <p-tabPanel header="Cuentas Contables">
 <app-elemento></app-elemento>
  </p-tabPanel>
  <p-tabPanel header="Cuentas de Bancos">
    <app-bancos></app-bancos>
  </p-tabPanel>
  <p-tabPanel header="Socio de Negocios">
    <app-socios></app-socios>
  </p-tabPanel>
  <p-tabPanel header="Usuarios">
    <app-crear-usuario></app-crear-usuario>
  </p-tabPanel>

</p-tabView> -->