<app-card cardTitle="Modulo Empresas" [options]="false">
  <div class="row">
    <div class="col-md-4">
      <h5>Crear Empresa</h5>
      <hr />

      <form *ngIf="EmpresaForm" [formGroup]="EmpresaForm">
        <div class="form-group">
          <label for="exampleInputEmail1">Nombre de Empresa</label>
          <input type="text" formControlName="Nombre" class="form-control" id="exampleInputEmail1"
            aria-describedby="emailHelp" placeholder="Escriba un nombre de la empresa" />
        </div>

       
        <!-- <div class="form-group">
          <label for="exampleInputPassword1">Empresa</label>
          <input (input)="verificarEmpresa()" type="text" formControlName="Cuenta" class="form-control" id="exampleInputPassword1" placeholder="Escriba una cuenta" />
          <span *ngIf="empresaFound==true" style="color: red;"><p>Ya existe una cuenta con este numero</p></span>

        </div> -->
       

        <button [disabled]="this.EmpresaForm.invalid || empresaFound==true" (click)="crearEmpresa()" type="button"
          class="btn btn-primary">Guardar</button>
      </form>
    </div>


     <!-- ~Tabla -->
     <div class="col-md-8">
      <h5>Lista de Empresas</h5>
      <hr />
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th class="text-center">#</th>
              <th class="text-center">Empresa</th>
              <!-- <th class="text-center">Cuenta</th>
              <th class="text-center">Sucursal</th> -->
              <th class="text-center">Editar</th>
              <th class="text-center">Inactivar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let empresa of Empresas;index as i">
              <th class="text-center" scope="row">{{i+1}}</th>
              <td class="text-center">
                <ng-container *ngIf="!empresa.Editando; else editarEmpresa">
                  {{empresa.Nombre}}
                </ng-container>
                <ng-template #editarEmpresa>
                  <input [(ngModel)]="empresa.Nombre" class="form-control text-center col-4">
                </ng-template>
              </td>

              <!-- <td class="text-center">
                <ng-container *ngIf="!banco.Editando; else editarCuenta">
                  {{banco.Cuenta}}
                </ng-container>
                <ng-template #editarCuenta>
                  <input [(ngModel)]="banco.Cuenta" class="form-control text-center col-4">
                </ng-template>
              </td>
              <td class="text-center">
                <ng-container *ngIf="!banco.Editando; else editarSucursal">
                  {{getNombreSucursal(banco.idSucursal)}}
                </ng-container>
                <ng-template #editarSucursal>
                  <select [(ngModel)]="banco.idSucursal" id="inputState" class="form-select">
                    <option value="0">Seleccione una sucursal</option>
                    <option value="{{sucursal.id}}" *ngFor="let sucursal of Sucursales">{{sucursal.Nombre}}</option>
                  </select>
                </ng-template>
              </td> -->
              <td *ngIf="!empresa.Editando" class="text-center">
                <!-- Botón de editar -->
                <button (click)="toggleEdicion(empresa)" type="button" class="btn btn-success text-center">
                  <i class="fa-regular fa-pen-to-square"></i>
                </button>
              </td>
              <td *ngIf="empresa.Editando">
                <!-- Botón de editar -->
                <button (click)="actualizarEmpresa(empresa)" type="button" class="btn btn-info text-center">
                  <i class="fa solid fa-check"></i>
                </button>
              </td>
              <td class="text-center" *ngIf="empresa.Activo"><button (click)="ActualizarEmpresaEstado(empresa,false)"
                  type="button" class="btn btn-success"><i class="fa-solid fa-toggle-on"></i></button></td>
              <td class="text-center" *ngIf="!empresa.Activo"><button (click)="ActualizarEmpresaEstado(empresa,true)"
                  type="button" class="btn btn-danger"><i class="fa-solid fa-toggle-off"></i></button></td>

            </tr>


          </tbody>
        </table>
      </div>
    </div>
    <!-- ~Tabla -->


  </div>
</app-card>