
    <app-card cardTitle="Flujo Consolidado"  [options]="false">

      <p-multiSelect class="m-1" (onChange)="filterMeses()" [options]="Anios" [(ngModel)]="AniosSelect" display="chip" placeholder="Seleccione el(los) año(s)" optionLabel="Anio"></p-multiSelect>

      <p-multiSelect class="m-1" (onChange)="filterMeses()" [options]="MesesTodos" [(ngModel)]="MesesSeleccionados" display="chip" placeholder="Seleccione el(los) mes(es)" optionLabel="Mes"></p-multiSelect>
      <p-multiSelect class="m-1" (onChange)="buscarPorCuentaBanco()"  [options]="CuentasBanco" [(ngModel)]="CuentasBancoSelect" display="chip" placeholder="Seleccione una cuenta de banco" optionLabel="Cuenta"></p-multiSelect>
      <p-multiSelect class="m-1" (onChange)="buscarPorUsuario()"  [options]="Usuarios" [(ngModel)]="UsuariosSelect" display="chip" placeholder="Seleccione un usuario" optionLabel="Nombres"></p-multiSelect>
      <div class="table-responsive mt-3">
        <table *ngIf="!Cargando" class="table">
          <thead class="cabecera">
          
              <th >Concepto</th> 
              <ng-container *ngFor="let anio of AniosRegistros">      
                <ng-container *ngFor="let mes of MesesRegistros" >
                  <ng-container *ngFor="let semana of this.getSemanasByMonth(mes.NumMes,anio.Anio)">
                    <th class="text-center">{{"Semana " + semana.Semana + " " + "(" + mes.Mes + ")"}}</th>
                  </ng-container>     
                  <th class="text-center">{{"Total " + mes.Mes}}</th>
                  
                  
                </ng-container>
                <th class="text-center">{{"Total " + anio.Anio}}</th>
              </ng-container>
        
          </thead>
          <tbody>
            <tr>
              <td>Saldo Inicial</td>
              <ng-container *ngFor="let anio of AniosRegistros">      
                <ng-container *ngFor="let mes of MesesRegistros" >
                  <ng-container *ngFor="let semana of this.getSemanasByMonth(mes.NumMes,anio.Anio)">
                    <td class="text-center">
                      <!-- {{"$" + " " +this.SaldoInicial[0].Valor}} -->
                      
                      0
                    </td>
                    
                  </ng-container>     
                  <th class="text-center">0</th>
                </ng-container>
                <th class="text-center">0</th>
              </ng-container>
            </tr>
            <ng-container *ngFor="let categoria of Categorias; let j = index">
              <tr  [ngClass]="{'cabecera-categoria': categoria.Calculado==true}" (click)="toggleCategoria(categoria.id)">
                
                <td>
                  <span     class="categoria-toggle">{{ categoria.Nombre }}</span>
                  <span *ngIf="!categoriasExpandidas[categoria.id]" class="categoria-toggle-icon">
                   <span *ngIf="categoria.Calculado==false">
                    <i style="cursor: pointer;" class="fa-solid fa-square-minus"></i>
                  </span> 
                    
                  </span>
                  <span *ngIf="categoriasExpandidas[categoria.id]" class="categoria-toggle-icon">
                    <span *ngIf="categoria.Calculado==false">
                      <i style="cursor: pointer;" class="fa-solid fa-square-plus"></i>
                    </span> 
                  </span>
                </td>
                <ng-container *ngFor="let anio of AniosRegistros">      
                  <ng-container *ngFor="let mes of MesesRegistros" >
                    <ng-container *ngFor="let semana of this.getSemanasByMonth(mes.NumMes,anio.Anio)">
                      <td class="text-center" 
                      [ngClass]="{'text-center': true, 'negativo': this.getDataCategoria(semana.Semana,categoria.id,mes.NumMes,anio.Anio,categoria.Orden) < 0}">

                    <span >{{"$" + " " +this.getDataCategoria(semana.Semana,categoria.id,mes.NumMes,anio.Anio,categoria.Orden)}}</span>  
                    
                    </td>
                    </ng-container>     
                    <td class="text-center"
                    [ngClass]="{'text-center': true, 'negativo': this.getDataMensualCategoria(categoria.id,mes.NumMes,anio.Anio,categoria.Orden) < 0}"
                    >{{"$" + " " +this.getDataMensualCategoria(categoria.id,mes.NumMes,anio.Anio,categoria.Orden)}}</td>
                    
                  </ng-container>
                  <td class="text-center"
                  [ngClass]="{'text-center': true, 'negativo': this.getDataAnualCategoria(categoria.id,anio.Anio,categoria.Orden) < 0}"
                  >{{"$" + " " +this.getDataAnualCategoria(categoria.id,anio.Anio,categoria.Orden)}}</td>
        
                </ng-container>
              </tr>
              <ng-container *ngIf="!categoriasExpandidas[categoria.id]">
                <ng-container class="animate__animated animate__bounceIn" *ngFor="let item of getItems(categoria.id)">
                  <tr style="background-color: #FAFAFA">
                    <td  ><span style="margin-left: 20px; font-weight: bolder;">{{ item.Nombre }}</span></td>
                    <ng-container *ngFor="let anio of AniosRegistros">      
                      <ng-container *ngFor="let mes of MesesRegistros" >
                        <ng-container *ngFor="let semana of this.getSemanasByMonth(mes.NumMes,anio.Anio)">
                          <td style="font-weight: bolder;"  [ngClass]="{'text-center': true, 'negativo': this.getDataItem(semana.Semana,item.Nombre,mes.NumMes,anio.Anio) < 0}">
                            {{ "$ " + this.getDataItem(semana.Semana,item.Nombre,mes.NumMes,anio.Anio) }}
                          </td>
                          </ng-container>     
                        <td style="font-weight: bolder;" 
                        class="text-center"
                        [ngClass]="{'text-center': true, 'negativo': this.getDataMensualItem(item.Nombre,mes.NumMes,anio.Anio) < 0}"
                        >
                        {{"$" + " " +this.getDataMensualItem(item.Nombre,mes.NumMes,anio.Anio)}}</td>
                      </ng-container>
                      <td style="font-weight: bolder;" 
                      class="text-center"
                      [ngClass]="{'text-center': true, 'negativo': this.getDataAnualItem(item.Nombre,anio.Anio)< 0}"
                      >
                      {{"$" + " " +this.getDataAnualItem(item.Nombre,anio.Anio)}}</td>
               
                    </ng-container>
                  </tr>
                </ng-container>

              </ng-container>
            </ng-container>
            <tr >
              <td>Saldo Final en bancos</td>
              <ng-container *ngFor="let anio of AniosRegistros">      
                <ng-container *ngFor="let mes of MesesRegistros" >
                  <ng-container *ngFor="let semana of this.getSemanasByMonth(mes.NumMes,anio.Anio)">
                    <td class="text-center">{{"$" + " " +this.getSaldoFinalSemanal(semana.Semana,mes.NumMes,anio.Anio)}}</td>
                  </ng-container>     
                  <td class="text-center">{{"$" + " " +this.getDataFlujoLibreMensual(mes.NumMes,anio.Anio)}}</td>
                </ng-container>
                <td class="text-center">{{"$" + " " +this.getDataFlujoLibreAnual(anio.Anio)}}</td>
              </ng-container>
            </tr>
            <tr class="cabecera-flujo-efectivo-libre">
              <td>Flujo efectivo libre</td>
              <ng-container *ngFor="let anio of AniosRegistros">      
                <ng-container *ngFor="let mes of MesesRegistros" >
                  <ng-container *ngFor="let semana of this.getSemanasByMonth(mes.NumMes,anio.Anio)">
                    <td class="text-center">{{"$" + " " +this.getDataFlujoLibre(semana.Semana,mes.NumMes,anio.Anio)}}</td>
                  </ng-container>     
                  <td class="text-center">{{"$" + " " +this.getDataFlujoLibreMensual(mes.NumMes,anio.Anio)}}</td>
                  
                </ng-container>
                <td class="text-center">{{"$" + " " +this.getDataFlujoLibreAnual(anio.Anio)}}</td>

              </ng-container>
            </tr>
          </tbody>
          
        </table>
      </div>
    </app-card>
