<button type="button"
[disabled]="this.Cabecera.length<=1"
(click)="descargarExcel()" class="btn btn-success m-1 mt-2">Descargar <i class="fa-solid fa-file-arrow-down"></i></button>
<button *ngIf="Expandir==false"
[disabled]="this.Cabecera.length<=1"
(click)="toggleAllRows()" type="button" class="btn btn-info m-1 mt-2">
<span *ngIf="!ExpandirCuentas">
  Expandir <i class="fa-solid fa-plus"></i>
</span>
<span *ngIf="ExpandirCuentas"> 
  Contraer <i class="fa-solid fa-minus"></i>
</span>
</button>

<div class="row">
  <div class="col-sm-12">
    <div class="p-table-wrapper" style="overflow-x: auto; min-width: 100px; max-width: 100%;">
      <p-table 
        #dt 
        *ngIf="cargando==false"
        [scrollable]="true"
       
        scrollHeight="600px"
        [tableStyle]="{ 'min-width': '100rem' }"
        [styleClass]="'p-datatable-sm'"
        [value]="DataTreeTable"
        dataKey="key"
      >
        <!-- =========================
             TABLE HEADER
        ========================== -->
        <ng-template pTemplate="header">
          <tr>
            <!-- Make the header cell sticky -->
            <th 
              style="
                position: sticky; 
                top : 0;
                left: 0; 
                z-index: 9999; 
                background-color: #f8f7f7;
                font-weight: bolder;
              "
            >
              Categoría
            </th>
    
            <th *ngFor="let cab of Cabecera" style="color: black;">
              <ng-container class="text-center" *ngIf="cab.Tipo != 1">
                {{ cab.Nombre }}
              </ng-container>
            </th>
          </tr>


        </ng-template>
        <!-- =========================
         TABLE BODY
    ========================== -->
    <ng-template pTemplate="body" let-rowData let-expanded="expanded">
      <tr 
        style="color: black;"
        [ngClass]="{
          'row-categorias-hijo': rowData.data.tipo != 3 && rowData.data.tipo != 11 && rowData.data.tipo != 0,
          'row-categorias-padre': rowData.data.tipo == 3 || rowData.data.tipo == 11 || rowData.data.tipo == 0
        }"
      >
        <!-- Make the first column sticky -->
        <td 
          style="
            position: sticky; 
            left: 0; 
            z-index: 1; 
            background-color: #f8f7f7;

           
          "
      
        >
          <button 
            *ngIf="rowData.data.tipo != 3 && rowData.data.tipo != 11 && rowData.data.tipo != 0"
            type="button"
            pButton
            pRipple
            style="width: 25px; height: 25px; font-size: 12px; padding: 2px;"
            [pRowToggler]="rowData"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
          >
          </button>

          <span style="z-index: 9000;" class="text-center">
            {{ rowData.data.categoria }}
          </span>
        </td>

        <!-- Other columns scroll underneath -->
        <td *ngFor="let cab of Cabecera">
          <ng-container *ngIf="cab.Tipo != 1">
            <ng-container class="text-center" *ngIf="cab.Tipo == 2">
              {{ "$ " + ((rowData.data.values[cab.NumTrimestre + '-' + cab.Anio] || 0) | number) }}
            </ng-container>
            <ng-container class="text-center" *ngIf="cab.Tipo == 3">
              {{ "$ " + ((rowData.data.values[cab.Anio] || 0) | number) }}
            </ng-container>
          </ng-container>
        </td>
      </tr>
    </ng-template>

    <!-- =========================
         ROW EXPANSION
    ========================== -->
    <ng-template pTemplate="rowexpansion" let-rowData>
      <tr class="children-items" *ngFor="let child of rowData.data.children">
        <!-- Sticky first column for child rows as well (optional) -->
        <td 
        
          style="
            position: sticky; 
            left: 0; 
            z-index: 1; 
            background-color: #fff;
            white-space: nowrap;
          "

[style.width.px]="calcColumnWidthPx()"
        >
        <span style="margin-left: 50px">{{ child.data.categoria }}</span>
        </td>
        <td *ngFor="let cab of Cabecera">
          <ng-container *ngIf="cab.Tipo != 1">
            <ng-container *ngIf="cab.Tipo == 2">
              {{ "$ " + ((child.data.values[cab.NumTrimestre + '-' + cab.Anio] || 0) | number) }}
            </ng-container>
            <ng-container *ngIf="cab.Tipo == 3">
              {{ "$ " + ((child.data.values[cab.Anio] || 0) | number) }}
            </ng-container>
          </ng-container>
        </td>
      </tr>
    </ng-template>

      </p-table>
    </div>
  </div>
</div>
