
<div class="row">
  <div class="col-sm-12">

    <app-card cardTitle="Flujos" [options]="false">
      <button type="button" (click)="showDialog()" class="btn btn-success" ngbTooltip="Ajustar Saldos Iniciales">Ajustar Saldos</button>
     
        <p-tabView [(activeIndex)]="activeIndex">
        <p-tabPanel header="Consolidado">
         <app-consolidado-mejorado></app-consolidado-mejorado>
         <!-- <app-flujo-consolidado></app-flujo-consolidado> -->
        </p-tabPanel>
    
        </p-tabView>

    </app-card>
  </div>
</div>



<p-dialog 
    header="Saldos Iniciales" 
    [(visible)]="visible" 
    [modal]="true" 
    [style]="{ width: '75vw' }" 
    [draggable]="true" 
    [resizable]="false"
    [maximizable]="true"
    >
      <app-ajuste-saldo></app-ajuste-saldo>
</p-dialog>