<div class="auth-wrapper">
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center text-center">
        <div class="col-md-12 col-12">
          <div class="card-body">
            <img src="assets/images/logo-dark.png" alt="logo" class="img-fluid mb-4" />
            <h4 class="mb-3 f-w-400">Nueva contraseña</h4>
  
            <div class="input-group mb-4">
              <span class="input-group-text" id="basic-addon3"><i class="fa-solid fa-key"></i></span>
              <input [formControl]="Password" type="password" class="form-control" placeholder="Contraseña" autocomplete="off"  aria-label="Username" aria-describedby="basic-addon3" />
            </div>
    
            <div class="d-grid">
              <button [disabled]="this.Password.value=='' || this.Password.value==null   " (click)="actualizarPass()"  class="btn btn-block btn-primary mb-4">Guardar</button>
            </div>
       
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


