.scroll-container {
    max-height: 800px; /* Ajusta este valor según lo necesites */
    overflow-y: auto;
  
  }

  .groupToggle{
    margin-left: 60px;
  }
  .groupToggleConfig{
    margin-left: 2px;
  }
  .toggleButtonConfig{
    margin-left: 2px;
  }

  .toggleButton{
    margin-left:-10px;
    margin-top: -80px;
  }

 
  .labeltoggleButtonConfig{
    margin-left: 2px;
  }

  .labeltoggleButton{
   margin-left:-10px;
   
  }

  ::ng-deep .horizontal-tree .p-tree-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
  gap: 1rem;                      /* Espacio entre columnas */
}

::ng-deep .horizontal-tree .p-treenode {
  width: 100%;
}
