.scroll-container {
    max-height: 400px; /* Ajusta este valor según lo necesites */
    overflow-y: auto;
  
  }

  .groupToggle{
    margin-left: 60px;
  }
  .groupToggleConfig{
    margin-left: 2px;
  }
  .toggleButtonConfig{
    margin-left: 2px;
  }

  .toggleButton{
    margin-left:90px;
    margin-top: -80px;
  }

 
  .labeltoggleButtonConfig{
    margin-left: 2px;
  }

  .labeltoggleButton{
    margin-left:45px;
   
  }
