<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Catálogos" [options]="false">
<div *ngIf="Catalogos.length>0" class="row justify-content-center">
  <div 
    *ngFor="let catalogo of Catalogos"
    class="catalog-card col-12 col-md-3 col-lg-3 m-2 text-center">
    <div routerLink="{{catalogo.url + '/' + idEmpresa}}">
      <i class="{{catalogo.icon}}"></i>
      <h5 class="card-title">{{catalogo.Nombre}}</h5>
      <p class="card-text">{{catalogo.Descripcion}}</p>

    </div>
  </div>
</div>
    </app-card>
  </div>
</div>