
<div style="margin-top: -10px;">

  <button type="button" (click)="openEnd(content)" class="btn btn-primary mb-4 shadow-4 m-1 float-end ">Filtros <i class="fa-solid fa-filter"></i></button>
  <button type="button" (click)="openEnd(contentOpciones)" class="btn btn-danger mb-4 shadow-4 m-1 float-end ">Opciones <i class="fa-solid fa-table-list"></i></button>

  <button type="button" (click)="switchTipoRegistro(2)" class="btn btn-warning mb-4 shadow-4 m-1 float-end">Proyectos
     <i class="fa-solid fa-diagram-project"></i>
  </button>
    <button type="button" (click)="switchTipoRegistro(1)" class="btn btn-info  mb-4 shadow-4 m-1 float-end">General
       <i class="fa-solid fa-building"></i>
    </button>



  <div class="row align-items-center g-2">

    <div class="col-auto">
      <div class="mb-3">
        <br>
        <button type="button"
        [disabled]="this.registrosSeleccionados.length==0"
        (click)="borrarRegistros()" class="btn btn-success shadow-4 mx-auto" ngbTooltip="Borrar">Borrar Registro
           <i class="fa-solid fa-trash"></i ></button>
      </div>
    </div>
    <div class="col-auto">
      <div class="mb-3">
        <br>
        <button type="button" (click)="crearRegistro(1)" class="btn btn-info shadow-4 mx-auto" ngbTooltip="Crear ingreso">Ingreso <i class="fa-solid fa-plus"></i></button>
      </div>
  </div>
  <div class="col-auto">
    <div class="mb-3">
      <br>
      <button type="button" (click)="crearRegistro(2)" class="btn btn-danger shadow-4 mx-auto" ngbTooltip="Crear egreso">Egreso <i class="fa-solid fa-minus"></i ></button>
    </div>
  </div>
  
    <div class="col-auto">
      <div class="mb-3">
        <br>
        <button type="button"
        [disabled]="this.Registros.length==0"
        (click)="descargarRegistros()" class="btn btn-primary shadow-4 mx-auto" ngbTooltip="Descargar Registros">Exportar
        <i class="fa-solid fa-file-excel"></i></button>
  
      </div>
    </div>
  
  </div>

</div>

<ng-template #contentOpciones let-offcanvas>
	<div class="offcanvas-header">
		<h4 class="offcanvas-title">Opciones</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
	</div>
	<div class="offcanvas-body">
	  <div class="row">
      <div class="col-12">
        <button type="button" (click)="crearCuenta();offcanvas.dismiss('Cross click')" class="btn btn-success  shadow-4" ngbTooltip="Click para crear registro"
          >Cuenta Bancaria <i class="fa-solid fa-plus"></i
        ></button></div>
        <div class="col-12">
          <button type="button" (click)="crearElemento();offcanvas.dismiss('Cross click')" class="btn btn-success  shadow-4 m-1" ngbTooltip="Click para crear registro"
            >Cuenta Contable <i class="fa-solid fa-plus"></i
          ></button>
        </div>
        <div class="col-12">
          <button type="button" (click)="crearSocioNegocio();offcanvas.dismiss('Cross click')" class="btn btn-success  shadow-4 m-1" ngbTooltip="Click para crear registro"
            >Socio de Negocio <i class="fa-solid fa-plus"></i
          ></button>
        </div>
  
        <div class="col-12">
          <button type="button" (click)="crearTipoOperacion();offcanvas.dismiss('Cross click')" class="btn btn-success  shadow-4 m-1" ngbTooltip="Click para crear registro"
            >Tipo Operación <i class="fa-solid fa-plus"></i
          ></button>
        </div>
        <h5>Tipos de registro</h5>
        <div class="col-12">
          <button type="button" (click)="switchTipoRegistro(1);offcanvas.dismiss('Cross click')" class="btn btn-info  shadow-4 m-1">General
             <i class="fa-solid fa-building"></i></button>
        </div>  
        <div class="col-12">
          <button type="button" (click)="switchTipoRegistro(2);offcanvas.dismiss('Cross click')" class="btn btn-warning  shadow-4 m-1">Proyectos
             <i class="fa-solid fa-diagram-project"></i></button>
  
        </div> 
  
    </div>
	</div>
</ng-template>


<!-- <p-sidebar [(visible)]="OpcionesSideBar" position="right">
  <h5>Opciones</h5>
  <div class="row">
    <div class="col-12">
      <button type="button" (click)="crearCuenta()" class="btn btn-success  shadow-4" ngbTooltip="Click para crear registro"
        >Cuenta Bancaria <i class="fa-solid fa-plus"></i
      ></button></div>
      <div class="col-12">
        <button type="button" (click)="crearElemento()" class="btn btn-success  shadow-4 m-1" ngbTooltip="Click para crear registro"
          >Cuenta Contable <i class="fa-solid fa-plus"></i
        ></button>
      </div>
      <div class="col-12">
        <button type="button" (click)="crearSocioNegocio()" class="btn btn-success  shadow-4 m-1" ngbTooltip="Click para crear registro"
          >Socio de Negocio <i class="fa-solid fa-plus"></i
        ></button>
      </div>

      <div class="col-12">
        <button type="button" (click)="crearTipoOperacion()" class="btn btn-success  shadow-4 m-1" ngbTooltip="Click para crear registro"
          >Tipo Operación <i class="fa-solid fa-plus"></i
        ></button>
      </div>
      <h5>Tipos de registro</h5>
      <div class="col-12">
        <button type="button" (click)="switchTipoRegistro(1)" class="btn btn-info  shadow-4 m-1">General
           <i class="fa-solid fa-building"></i></button>
      </div>  
      <div class="col-12">
        <button type="button" (click)="switchTipoRegistro(2)" class="btn btn-warning  shadow-4 m-1">Proyectos
           <i class="fa-solid fa-diagram-project"></i></button>

      </div> 

  </div>
</p-sidebar> -->

<!-- <div class="d-flex justify-content-center">

  <button type="button" (click)="switchTipoRegistro(1)" class="btn btn-info m-1">General <i class="fa-solid fa-building"></i></button>
  <button type="button" (click)="switchTipoRegistro(2)" class="btn btn-warning m-1">Proyectos <i class="fa-solid fa-diagram-project"></i></button>
</div> -->

<ng-template #content let-offcanvas >
	<div class="offcanvas-header">
		<h4 class="offcanvas-title">Filtros</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
	</div>
	<div class="offcanvas-body">
    <div class="row align-items-center g-2">
      <div *ngIf="idTipoRegistro==1" class="col-12" style="z-index: 2000; top: 0;">
        <label for="formGroupExampleInput" class="form-label">Buscar por sucursal</label>
        <br>
        <p-dropdown 
          [style]="{'width':'280px'}"
          [panelStyle]="{'width':'280px'}"
          (onChange)="filtrarByCategoria()"
          [options]="Sucursales" 
          [(ngModel)]="SucursaleSeleccionada" 
          optionLabel="Nombre" 
          
          placeholder="Seleccione una sucursal" />
      </div>
      
        <div *ngIf="idTipoRegistro==2" class="col-12" style="z-index: 2000; top: 0;">
          <label for="formGroupExampleInput" class="form-label">Buscar por proyecto</label>
          <br>
          <p-dropdown 
          [style]="{'width':'280px'}"
          [panelStyle]="{'width':'280px'}"
            (onChange)="filtrarByCategoria()"
            [options]="Proyectos" 
            [(ngModel)]="ProyectoSeleccionado" 
            optionLabel="NombreSucursal" 
            placeholder="Seleccione un proyecto" />
        </div>
        
        <div class="col-12">
          <label for="formGroupExampleInput" class="form-label">Buscar por categoría</label>
          <br>
          <p-multiSelect 
          [style]="{'width':'280px'}"
          [panelStyle]="{'width':'295px'}"
          (onChange)="filtrarByCategoria()"
          [options]="Categorias" 
          [(ngModel)]="CategoriasSeleccionadas" 
          optionLabel="Nombre" 
          placeholder="Seleccione una categoria"
          [selectedItemsLabel]="getSelectedItemsLabel()"
          [maxSelectedLabels]="1" 
        
          [displaySelectedLabel]="true">
      </p-multiSelect>
        </div>
      
        <div class="col-12">
            <label for="formGroupExampleInput" class="form-label">Fecha Inicio</label>
            <input type="date" 
            [formControl]="FechaDesde" 
            style="height: 50px;"
            class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
        </div>
      
        <div class="col-12"> 
            <label for="formGroupExampleInput" class="form-label">Fecha Final</label>
            <input type="date" [formControl]="FechaHasta" 
            style="height: 50px;"
            class="form-control" id="formGroupExampleInput"
             placeholder="Example input placeholder">
        </div>
        <div class="col-12">
            <button type="button" class="btn btn-success  shadow-4 mx-auto"
            (click)="buscarByFecha()"
            [disabled]="(this.FechaDesde.value=='' || this.FechaHasta.value=='' )"
            >Buscar <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
        <div class="col-12">
            <button type="button" class="btn btn-primary shadow-4 mx-auto" 
            (click)="restablecer()">Limpiar filtros <i class="fa-solid fa-rotate-right"></i></button>
        </div>
      </div>
	</div>
</ng-template>


<!-- 
<p-sidebar appendTo="body" [(visible)]="FiltrosSideBar" position="right">
  <h3>Filtros</h3>
  <div class="row align-items-center g-2">
  <div *ngIf="idTipoRegistro==1" class="col-12">
    <label for="formGroupExampleInput" class="form-label">Buscar por sucursal</label>
    <br>
    <p-dropdown 
      [style]="{'width':'280px'}"
      [panelStyle]="{'width':'280px'}"
      (onChange)="filtrarByCategoria()"
      [options]="Sucursales" 
      [(ngModel)]="SucursaleSeleccionada" 
      optionLabel="Nombre" 
      appendTo="body"
      placeholder="Seleccione una sucursal" />
  </div>
  
    <div *ngIf="idTipoRegistro==2" class="col-12">
      <label for="formGroupExampleInput" class="form-label">Buscar por proyecto</label>
      <br>
      <p-dropdown 
      [style]="{'width':'280px'}"
      [panelStyle]="{'width':'280px'}"
        (onChange)="filtrarByCategoria()"
        [options]="Proyectos" 
        [(ngModel)]="ProyectoSeleccionado" 
        optionLabel="NombreSucursal" 
        placeholder="Seleccione un proyecto" />
    </div>
    
    <div class="col-12">
      <label for="formGroupExampleInput" class="form-label">Buscar por categoría</label>
      <br>
      <p-multiSelect 
      [style]="{'width':'280px'}"
      [panelStyle]="{'width':'295px'}"
      (onChange)="filtrarByCategoria()"
      [options]="Categorias" 
      [(ngModel)]="CategoriasSeleccionadas" 
      optionLabel="Nombre" 
      placeholder="Seleccione una categoria"
      [selectedItemsLabel]="getSelectedItemsLabel()"
      [maxSelectedLabels]="1" 
      [displaySelectedLabel]="true">
  </p-multiSelect>
    </div>
  
    <div class="col-12">
        <label for="formGroupExampleInput" class="form-label">Fecha Inicio</label>
        <input type="date" 
        [formControl]="FechaDesde" 
        style="height: 50px;"
        class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
    </div>
  
    <div class="col-12"> 
        <label for="formGroupExampleInput" class="form-label">Fecha Final</label>
        <input type="date" [formControl]="FechaHasta" 
        style="height: 50px;"
        class="form-control" id="formGroupExampleInput"
         placeholder="Example input placeholder">
    </div>
    <div class="col-12">
        <button type="button" class="btn btn-success  shadow-4 mx-auto"
        (click)="buscarByFecha()"
        [disabled]="(this.FechaDesde.value=='' || this.FechaHasta.value=='' )"
        >Buscar <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
    <div class="col-12">
        <button type="button" class="btn btn-primary shadow-4 mx-auto" 
        (click)="restablecer()">Limpiar filtros <i class="fa-solid fa-rotate-right"></i></button>
    </div>
  </div>
</p-sidebar> -->





<div *ngIf="cargando"  class="text-center">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<br>

<!--? Tabla de registro y sus elementos -->

<!--? Tabla de registro y sus elementos -->
<div class="table-scroll-wrapper">
  <!-- Barra de desplazamiento superior -->
  <div class="table-scroll-top" #scrollTop>
    <div></div>
  </div>

  <!-- Contenedor de la tabla -->
  <div class="table-scroll-container" #scrollContainer>
    <table class="table">
      <thead style="position: sticky; top: 0; background-color: #F8FAFB; z-index: 1000;">
        <tr class="text-center">
          <th scope="col">
            <div class="form-check">
              <input
                (change)="seleccionarRegistros()"
                class="form-check-input"
                type="checkbox"
                value=""
                [checked]="SeleccionarTodo"
                id="flexCheckChecked"
              />
            </div>
          </th>
          <ng-container style="margin-right: 100px;">
            <th
              class="text-center"
              style="text-transform: uppercase; font-size: 13px; background-color: #F8FAFB"
            >
              <span>Copiar</span>
            </th>
          </ng-container>
          <!-- <th style="text-transform: uppercase;font-size: 13px;">Registro</th> -->
          <th style="text-transform: uppercase; font-size: 13px;">Fecha</th>
          <th style="text-transform: uppercase; font-size: 13px;">Orden</th>
          <th
            *ngIf="this.idTipoRegistro == 1"
            style="text-transform: uppercase; font-size: 13px;"
          >
            Sucursal <span style="color: #0c8c86; font-weight: bold;">(opcional)</span>
          </th>
          <th
            *ngIf="this.idTipoRegistro == 2"
            style="text-transform: uppercase; font-size: 13px;"
          >
            Proyecto <span style="color: #0c8c86; font-weight: bold;">(opcional)</span>
          </th>
          <th style="text-transform: uppercase; font-size: 13px;">
            Concepto <span style="color: #0c8c86; font-weight: bold;">(opcional)</span>
          </th>
          <th style="text-transform: uppercase; font-size: 13px;">Tipo de Flujo</th>
          <th style="text-transform: uppercase; font-size: 13px;">Cuenta Contable</th>
          <th style="text-transform: uppercase; font-size: 13px;">Importe</th>
          <th style="text-transform: uppercase; font-size: 13px;">Tipo de Operación</th>
          <th style="text-transform: uppercase; font-size: 13px;">
            Cuenta Bancaria <span style="color: #0c8c86; font-weight: bold;">(opcional)</span>
          </th>
          <!-- <th style="text-transform: uppercase;font-size: 13px;">Flujo</th> -->
          <th style="text-transform: uppercase; font-size: 13px;">
            Socio Negocios <span style="color: #0c8c86; font-weight: bold;">(opcional)</span>
          </th>
          <th style="text-transform: uppercase; font-size: 13px;">Guardar</th>
        </tr>
      </thead>

      <tbody *ngIf="!cargando" style="z-index: 999; position: relative;">
        <tr
          *ngFor="let registros of Registros"
          [ngClass]="{
            Egreso: registros.idTipo === 2,
            Ingreso: registros.idTipo === 1,
            'animate__animated animate__fadeIn': registros.ActivarAnimation
          }"
        >
          <td>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                (change)="seleccionarRegistro(registros)"
                value=""
                id="flexCheckChecked"
                [checked]="registros.Seleccionado"
              />
            </div>
          </td>

          <ng-container style="margin-left: 100px;">
            <td class="text-center" style="background-color: #F8FAFB">
              <ng-container>
                <button
                  type="button"
                  (click)="copiarRegistro(registros)"
                  [ngClass]="registros.idTipo == 1 ? 'btn btn-info' : 'btn btn-danger'"
                >
                  <i class="fa-solid fa-copy"></i>
                </button>
              </ng-container>
            </td>
          </ng-container>

          <td class="text-center">
            <input
              style="min-height: 1rem"
              type="date"
              [(ngModel)]="registros.FechaRegistro"
              class="form-control text-center col-4"
            />
          </td>
          <td class="text-center mt-2">{{ registros.Orden }}</td>

          <td *ngIf="registros.TipoRegistro == 1" class="text-center">
            <p-dropdown
              (onChange)="renderizarBarra()"
              [style]="{ width: '300px' }"
              [panelStyle]="{ width: '300px' }"
              [options]="Sucursales"
              [(ngModel)]="registros.idSucursal"
              name="SucursalesSeleccionadas"
              optionLabel="Nombre"
              optionValue="id"
              [filter]="true"
              filterBy="Sucursal"
              [showClear]="false"
              placeholder="Sucursales"
              appendTo="body"
            >
              <ng-template pTemplate="selectedItem" let-selectedItem>
                <div class="flex align-items-lg-start gap-2">
                  <div class="seleccion-item">{{ selectedItem.Nombre }}</div>
                </div>
              </ng-template>
            </p-dropdown>
          </td>

          <td *ngIf="registros.TipoRegistro == 2" class="text-center">
            <p-dropdown
              (onChange)="renderizarBarra()"
              [options]="Proyectos"
              [(ngModel)]="registros.idProyecto"
              [style]="{ width: '300px' }"
              [panelStyle]="{ width: '300px' }"
              name="ProyectosSeleccionados"
              optionLabel="NombreSucursal"
              optionValue="NombreSucursal"
              [filter]="true"
              filterBy="NombreSucursal"
              [showClear]="false"
              placeholder="Proyectos"
              appendTo="body"
            >
              <ng-template pTemplate="selectedItem" let-selectedItem>
                <div class="flex align-items-lg-start gap-2">
                  <div class="seleccion-item">{{ selectedItem.NombreSucursal }}</div>
                </div>
              </ng-template>
            </p-dropdown>
          </td>

          <td class="text-center">
            <input
              style="min-width: 9rem; min-height: 1rem; font-weight: bolder"
              [(ngModel)]="registros.Comentarios"
              class="form-control text-center col-6"
            />
          </td>

          <td class="text-center">
            <p-dropdown
              [options]="this.getCategoriasByTipo(registros.idTipo)"
              (onChange)="renderizarBarra()"
              [(ngModel)]="registros.idPadre"
              [style]="{ width: '300px' }"
              [panelStyle]="{ width: '300px' }"
              name="ItemSeleccionados"
              optionLabel="Nombre"
              [filter]="true"
              filterBy="Nombre"
              [showClear]="false"
              placeholder="Categorías"
              appendTo="body"
            >
              <ng-template pTemplate="selectedItem" let-selectedItem>
                <div class="flex align-items-lg-start">
                  <div class="seleccion-item">{{ selectedItem.Nombre }}</div>
                </div>
              </ng-template>
            </p-dropdown>
          </td>
  
          <td class="text-center">
 
              <p-treeSelect 
                  class="md:w-20rem w-full" 
                  containerStyleClass="w-full" 
                  appendTo="body"  
                  (ngModelChange)="renderizarBarra()"   
                  [filter]="true"                   
                  [filterInputAutoFocus]="true"
                  [(ngModel)]="registros.CuentaSeleccionada" 
                  [disabled]="getCuentabyCategoria(registros.idPadre).length==0"
                  [options]="getCuentabyCategoria(registros.idPadre)" 
                  [emptyMessage]="emptyMessage"
                  placeholder="Seleccione una cuenta" />
          

          </td>
          <!-- <td class="text-center">
            <p
              *ngIf="this.Items.length == 0"
              class="animate__animated animate__bounceIn"
              style="color: red; font-size: 10px;"
            >
              No tienes cuentas asociadas a este proyecto
            </p>
            <p
              *ngIf="
                getCuentabyCategoria(registros.idCategoria).length == 0 &&
                registros.idCategoria != ''
              "
              class="animate__animated animate__bounceIn"
              style="color: red; font-size: 10px;"
            >
              No tienes cuentas asociadas a esta categoría
            </p>
            <p-dropdown        
            (onChange)="renderizarBarra();getCuentaSeleccionada(registros.NombreElemento)"
              [options]="getCuentabyCategoria(registros.idCategoria)"
              [(ngModel)]="registros.NombreElemento"
              name="registros.Elemento"
              optionLabel="label"
              optionValue="label"
              [filter]="true"
              filterBy="label"
              [disabled]="
                this.Items.length == 0 ||
                registros.idCategoria == '' ||
                getCuentabyCategoria(registros.idCategoria).length == 0"
              [showClear]="false"
              placeholder="Cuentas Contables"
              appendTo="body"
            >
              <ng-template pTemplate="selectedItem" let-selectedItem>
                <div class="flex align-items-lg-start gap-2">
                  <div class="seleccion-item">{{ selectedItem.label }}</div>
                </div>
              </ng-template>
            </p-dropdown>
          </td> -->


          <td class="text-center">
            <input
              [ngClass]="registros.idTipo == 1 ? 'textoInputPositivo' : 'textoInputNegativo'"
              (keyup.enter)="salvarRegistro(registros, Valor.value)"
              #Valor
              [disabled]="
                this.Items.length == 0 ||
                registros.idCategoria == '' ||
                getCuentabyCategoria(registros.idPadre).length == 0
              "
              (input)="
                
                formatearNumero(Valor,registros.idTipo)
              "
              style="min-width: 9rem; min-height: 1rem; font-weight: bolder"
              [ngModel]="registros.Valor | currencySymbol"
              class="form-control text-center col-6"
            />
          </td>

          <td class="text-center">
            <p-dropdown
              [options]="TiposOperacion"
              (onChange)="renderizarBarra()"
              [(ngModel)]="registros.TipoOperacion"
              name="TipoSeleccionado"
              optionLabel="Nombre"
              [filter]="true"
              filterBy="Nombre"
              [showClear]="false"
              placeholder="Tipo de Operación"
              appendTo="body"
            >
              <ng-template pTemplate="selectedItem" let-selectedItem>
                <div class="flex align-items-lg-start gap-2">
                  <div class="seleccion-item">{{ selectedItem.Nombre }}</div>
                </div>
              </ng-template>
            </p-dropdown>
          </td>

          <td class="text-center">
            <p-dropdown
              [style]="{ width: '200px' }"
              [panelStyle]="{ width: '200px' }"
              [options]="cuentas"
              (onChange)="renderizarBarra()"
              [(ngModel)]="registros.Cuenta"
              name="ItemSeleccionados"
              optionLabel="Cuenta"
              [filter]="true"
              filterBy="Cuenta"
              [showClear]="false"
              placeholder="Cuentas Bancarias"
              appendTo="body"
            >
              <ng-template pTemplate="selectedItem" let-selectedItem>
                <div class="flex align-items-lg-start gap-2">
                  <div class="seleccion-item">{{ selectedItem.Cuenta }}</div>
                </div>
              </ng-template>
            </p-dropdown>
          </td>
          <td class="text-center">
            <p-dropdown
              [style]="{ width: '200px' }"
              [panelStyle]="{ width: '200px' }"
              [options]="SociosNegocios"
              (onChange)="renderizarBarra()"
              [(ngModel)]="registros.idSocioNegocio"
              name="SociosNegocios"
              optionLabel="Nombre"
              [filter]="true"
              filterBy="Nombre"
              [showClear]="false"
              placeholder="Socio de Negocios"
              appendTo="body"
            >
              <ng-template pTemplate="selectedItem" let-selectedItem>
                <div class="flex align-items-lg-start gap-2">
                  <div class="seleccion-item">{{ selectedItem.Nombre }}</div>
                </div>
              </ng-template>
            </p-dropdown>
          </td>

          <td class="text-center">
            <button
              type="button"
              [disabled]="
                isNegativo == false ||
                this.Items.length == 0 ||
                registros.idPadre == '' ||
                getCuentabyCategoria(registros.idPadre).length == 0
              "
              (click)="salvarRegistro(registros, Valor.value)"
              class="btn btn-success"
              ngbTooltip="Guardar registro"
            >
              <i class="fa-solid fa-floppy-disk"></i>
            </button>
          </td>
        </tr>
      </tbody>

      <tfoot>
        <tr>
          <td colspan="8" class="text-end"><strong>Sub-Total:</strong></td>
          <td class="text-center">
            <strong>
              <p
                style="text-transform: uppercase; font-size: 13px; font-weight: bold; color: red;"
                *ngIf="ImporteSubTotal < 0"
              >
                <strong>{{ ' -$ ' + (ImporteSubTotal * -1 | number) }}</strong>
              </p>
              <p
                style="text-transform: uppercase; font-size: 13px; font-weight: bold;"
                *ngIf="ImporteSubTotal >= 0"
              >
                <strong>{{ ' $ ' + (ImporteSubTotal | number) }}</strong>
              </p>
            </strong>
          </td>
        </tr>
        <tr>
          <td colspan="8" class="text-end"><strong>Total:</strong></td>
          <td class="text-center">
            <strong>
              <p
                style="text-transform: uppercase; font-size: 13px; font-weight: bold; color: red;"
                *ngIf="ImporteTotal < 0"
              >
                <strong>{{ ' -$ ' + (ImporteTotal * -1 | number) }}</strong>
              </p>
              <p
                style="text-transform: uppercase; font-size: 13px; font-weight: bold;"
                *ngIf="ImporteTotal >= 0"
              >
                <strong>{{ ' $ ' + (ImporteTotal | number) }}</strong>
              </p>
            </strong>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>

  <!-- Barra de desplazamiento inferior -->
  <div class="table-scroll-bottom" #scrollBottom>
    <div></div>
  </div>
</div>
<!--? Tabla de registro y sus elementos -->


<!--? Tabla de registro y sus elementos -->



  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="collectionSize"
      [(page)]="page"
      [pageSize]="pageSize"
      (pageChange)="refreshRegistros([],false)"
    >
    </ngb-pagination>
  
    <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshRegistros([],false)">
      <option [ngValue]="5">5 por página</option>
      <option [ngValue]="10">10 por página</option>
      <option [ngValue]="15">15 por página</option>
      <option [ngValue]="20">20 por página</option>
      <option [ngValue]="25">25 por página</option>
      <option [ngValue]="30">30 por página</option>
      <option [ngValue]="35">35 por página</option>
      <option [ngValue]="40">40 por página</option>
      <option [ngValue]="45">45 por página</option>
      <option [ngValue]="50">50 por página</option>
    </select>
  </div>


<!-- <div class="importe">
  <p style="text-transform: uppercase;font-size: 13px; font-weight: bold; color: red;"
  *ngIf="ImporteSubTotal<0">
  Importe Sub-Total: <strong>{{ " -$ " + (ImporteSubTotal*-1 | number)}}</strong>
  </p>
  <p style="text-transform: uppercase;font-size: 13px; font-weight: bold;"
  *ngIf="ImporteSubTotal>=0">
  Importe Sub-Total: <strong>{{ " $ " + (ImporteSubTotal| number)}}</strong> 
  </p>

  <div style="margin-top: -20px;">
    <p style="text-transform: uppercase;font-size: 13px; font-weight: bold; color: red;"
    *ngIf="ImporteTotal<0">
    Importe Total: <strong>{{ " -$ " + (ImporteTotal*-1 | number)}}</strong> 
    </p>
    <p style="text-transform: uppercase;font-size: 13px; font-weight: bold;"
    *ngIf="ImporteTotal>=0">
    Importe Total: <strong>{{ " $ " + (ImporteTotal| number)}}</strong> 
    </p>
  </div>
</div> -->



  

<p-dialog
  header=""
  [(visible)]="visibleCuenta"
  [modal]="true"
  [style]="{ width: '75vw', height: '70vh' }"
  [modal]="true"
  appendTo="body"
  styleClass="p-fluid"
  [draggable]="true"
  [resizable]="true"
>
<app-bancos  *ngIf="visibleCuenta==true"></app-bancos>
</p-dialog>
<p-dialog
  header="Agregar Item"
  [(visible)]="visibleElemento"
  [modal]="true"
  [style]="{ width: '75vw', height: '90vh' }"
  [modal]="true"
  styleClass="my-dialog p-fluid"
  [draggable]="false"
  [resizable]="true"
  [maximizable]="true"
 
>
<app-elemento *ngIf="visibleElemento==true"></app-elemento>
</p-dialog>
<p-dialog
  header="Agregar Socio de Negocio"
  [(visible)]="visibleSocioNegocio"
  [modal]="true"
  [style]="{ width: '75vw', height: '70vh' }"
  [modal]="true"
  styleClass="p-fluid"
  [draggable]="false"
  [resizable]="false"
  [maximizable]="true"
>
<app-socios *ngIf="visibleSocioNegocio==true"></app-socios>
</p-dialog>
<p-dialog
  header="Agregar Tipo de Operación"
  [(visible)]="visibleTipoOperacion"
  [modal]="true"
  [style]="{ width: '75vw', height: '70vh' }"
  [modal]="true"
  styleClass="p-fluid"
  [draggable]="false"
  [resizable]="false"
  [maximizable]="true"
>
<app-tipos-operacion *ngIf="visibleTipoOperacion==true"></app-tipos-operacion>
</p-dialog>

