

<app-card cardTitle="REGISTROS" [options]="false">
  
  <button type="button" (click)="crearRegistro()" class="btn btn-success mb-4 shadow-1" ngbTooltip="Click para crear registro"
    >Crear Registro <i class="fa-solid fa-plus"></i
  ></button>
  <p-table 
    #dt1
    [value]="Registros"
    [paginator]="true"
    [rows]="4"
    [scrollable]="true"
    [showCurrentPageReport]="true"
    [tableStyle]="{'min-width': '50rem'}"
    [globalFilterFields]="['AnioRegistro', 'FechaRegistro', 'MesRegistro', 'Semana','FechaRegistro','Elemento']"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[5, 10, 20]" >
    <ng-template pTemplate="caption">
      <div class="flex col-12">
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input type="text" class="form-control" (input)="dt1.filterGlobal($any($event.target).value, 'contains')" id="exampleInputEmail1" aria-describedby="emailHelp">

        </span>
      </div>
    </ng-template>
    <ng-template  pTemplate="header">
      <tr class="text-center">
        <th style="text-transform: uppercase;">Orden</th>
        <th style="text-transform: uppercase;">Borrar</th>
        <th style="text-transform: uppercase;">Elemento</th>
        <th style="text-transform: uppercase;">Categoría</th>
        <th style="text-transform: uppercase;">Cuenta</th>
        <th style="text-transform: uppercase;">Valor</th>
        <th style="text-transform: uppercase;">Flujo</th>
        <th style="text-transform: uppercase;">Socio Negocios</th>
        <th style="text-transform: uppercase;">Fecha</th>
        <th style="text-transform: uppercase;">Guardar</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-registros>
      <tr>
           <!-- Elementos -->
           <td class="text-center">
              <ng-container>
                {{ registros.Orden }}
              </ng-container>
              </td>
        <td class="text-center">
                <button type="button" (click)="borrarRegistro(registros.id)" class="btn btn-danger" ngbTooltip="Borrar registro"
                  ><i class="fa-solid fa-trash"></i></button>
        </td>
        <td class="text-center ">
       
     
       

            <p-dropdown
              [options]="Items"
              [(ngModel)]="registros.Elemento"
              name="ItemSeleccionados"
              optionLabel="Nombre"
              [filter]="true"
              filterBy="Nombre"
              [showClear]="false"
              class=""
              placeholder="Seleccione elemento">
              <ng-template pTemplate="selectedItem" let-selectedItem>
                <div class="flex align-items-center gap-2 ">
                  <div class="seleccion-item" >{{ selectedItem.Nombre }}</div>
                </div>
              </ng-template>
            </p-dropdown>
      
        </td>
        <!-- Categorias -->
        <td class="text-center">
       
       
              <p-dropdown
              [options]="Categorias"
              [(ngModel)]="registros.idCategoria"
              name="ItemSeleccionados"
              optionLabel="Nombre"
              [filter]="true"
              filterBy="Nombre"
              [showClear]="false"
              placeholder="Seleccione una categoría">
          <ng-template pTemplate="selectedItem" let-selectedItem>
              <div class="flex align-items-lg-start gap-2">
              <div class="seleccion-item" >{{ selectedItem.Nombre }}</div>
              </div>
          </ng-template>
          </p-dropdown>
     

        </td>

        <td class="text-center">
    
              <p-dropdown
              [options]="cuentas"
              [(ngModel)]="registros.Cuenta"
              name="ItemSeleccionados"
              optionLabel="Cuenta"
              [filter]="true"
              filterBy="Cuenta"
              [showClear]="false"
              placeholder="Seleccione una cuenta">
          <ng-template pTemplate="selectedItem" let-selectedItem>
              <div class="flex align-items-lg-start gap-2">
              <div class="seleccion-item">{{ selectedItem.Cuenta }}</div>
              </div>
          </ng-template>
          </p-dropdown>
     
      
      
      </td>




      <td class="text-center">
              <input (keyup.enter)="salvarRegistro(registros)" style="min-width: 9rem; min-height: 3rem; font-weight: bolder" [(ngModel)]="registros.Valor" class="form-control text-center col-4">
      </td>

      <td class="text-center">
                <p-dropdown
                [options]="Flujos"
                [(ngModel)]="registros.idFlujo"
                name="flujos"
                optionLabel="name"
                [filter]="true"
                filterBy="name"
                [showClear]="false"
                placeholder="Seleccione un flujo">
                <ng-template pTemplate="selectedItem" let-selectedItem>
                  <div class="flex align-items-center gap-2">
                    <div class="seleccion-item" style="min-width: 9rem;">{{ selectedItem.name }}</div>
                  </div>
                </ng-template>
              </p-dropdown>
      </td>
      <td class="text-center">
              <p-dropdown
              [options]="SociosNegocios"
              [(ngModel)]="registros.idSocioNegocio"
              name="SociosNegocios"
              optionLabel="Nombre"
              [filter]="true"
              filterBy="Nombre"
              [showClear]="false"
              placeholder="Seleccione un socio de negocios">
          <ng-template pTemplate="selectedItem" let-selectedItem>
              <div class="flex align-items-lg-start gap-2">
              <div  class="seleccion-item">{{ selectedItem.Nombre }}</div>
              </div>
          </ng-template>
          </p-dropdown>
      </td>

        <td class="text-center">
              <input style="min-height: 3rem;" type="date" [(ngModel)]=" registros.FechaRegistro" class="form-control text-center col-4">
      </td>
        <td class="text-center">
          <button  type="button" (click)="salvarRegistro(registros)" class="btn btn-success" ngbTooltip="Guardar registro"><i class="fa-solid fa-floppy-disk"></i></button>
        </td>
       
      </tr>
    </ng-template>
  </p-table>
</app-card>

  




<!-- *EDITAR REGISTRO -->
<p-dialog
  header="Editar Registro"
  [(visible)]="visibleEditar"
  [modal]="true"
  [style]="{ width: '75vw', height: '50vh' }"
  [modal]="true"
  styleClass="p-fluid"
  [draggable]="false"
  [resizable]="false"
>
  <div *ngIf="EditRegistroForm">
    <form [formGroup]="EditRegistroForm" class="row g-3">
      <div class="col-md-6 col-lg-6 col-12 dropdown">
        <label for="inputPassword4" class="form-label">Elementos</label>
        <p-dropdown
          [options]="Items"
          formControlName="Elemento"
          name="ItemSeleccionados"
          optionLabel="Nombre"
          [filter]="true"
          filterBy="Nombre"
          [showClear]="true"
          placeholder="Seleccione un elemento"
        >
          <ng-template pTemplate="selectedItem" let-selectedItem>
            <div class="flex align-items-center gap-2">
              <div>{{ selectedItem.Nombre }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Valor</label>
        <input type="text" pInputText formControlName="Valor" />
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Cuenta</label>
        <input type="text" pInputText formControlName="Cuenta" />
      </div>
      <!-- ~DROPDOWN DE CATEGORIAS -->
      <div class="col-md-6 col-lg-6 col-12 dropdown-cat">
        <label for="inputPassword4" class="form-label">Categoría</label>
        <p-dropdown
          [options]="Categorias"
          formControlName="idCategoria"
          name="ItemSeleccionados"
          optionLabel="Nombre"
          [filter]="true"
          filterBy="Nombre"
          [showClear]="true"
          placeholder="Seleccione una categoría"
        >
          <ng-template pTemplate="selectedItem" let-selectedItem>
            <div class="flex align-items-lg-start gap-2">
              <div>{{ selectedItem.Nombre }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
      <!-- ~DROPDOWN DE CATEGORIAS -->

      <div class="departamento-socio">
        <!-- ~RADIO BUTTON DEPARTAMENTO -->
        <div class="radio-departamentos">
          <div class="col-md-6 col-lg-6 col-12">
            <label for="inputPassword4" class="form-label title">Flujo</label>

            <div *ngFor="let flujo of Flujos">
              <p-radioButton value="{{ flujo.name }}" formControlName="idFlujo"></p-radioButton>
              <span class="space"></span>
              <label class="ml-2">{{ flujo.name }}</label>
            </div>
          </div>
        </div>
        <!-- ~RADIO BUTTON DEPARTAMENTO -->

        <!-- ~DROPDOWN SOCIO DE NEGOCIO -->
        <div class="dropdown-socio">
          <div class="col-md-6 col-lg-6 col-12 position-elemento">
            <label for="inputPassword4" class="form-label">Socio de Negocio</label>
            <p-dropdown
              [options]="SociosNegocios"
              formControlName="idSocioNegocio"
              name="ItemSeleccionados"
              optionLabel="Nombre"
              [filter]="true"
              filterBy="Nombre"
              [showClear]="true"
              placeholder="Seleccione un socio de negocio"
            >
              <ng-template pTemplate="selectedItem" let-selectedItem>
                <div class="flex align-items-center gap-2">
                  <div>{{ selectedItem.Nombre }}</div>
                </div>
              </ng-template>
            </p-dropdown>
          </div>
        </div>

        <!-- ~DROPDOWN SOCIO DE NEGOCIO -->
      </div>
    </form>
    <div class="d-grid gap-2">
      <button (click)="ActualizarRegistro()" type="button" class="btn btn-primary mt-5 col-4" ngbTooltip="Guardar Registro"
        >Guardar cambios</button
      >
    </div>
  </div>
</p-dialog>

<!-- Nuevo -->

<!-- <p-button label="Crear Registro" [rounded]="true" [raised]="true" severity="success" (click)="addRow()" ></p-button>
   
    <div class="card w-full mt-3 border-500 hover:border-40 border p-2 ">
    
      
    
        <p-toast></p-toast>
        <p-table class=" mb-2 mt-3" [value]="_Registros" dataKey="id" editMode="row" [tableStyle]="{'min-width': '50rem'}">
            <ng-template pTemplate="header" >
                <tr >
                    <th class="bg-green-50">Flujo</th>

                    <th class="bg-green-50" >Operacion</th>
                    <th class="bg-green-50" >Categoria</th>
                    <th class="bg-green-50" >Cuenta Banco</th>
                    <th class="bg-green-50" >Valor</th>
                    <th class="bg-green-50" >Fecha</th>
                    <th class="bg-green-50" >Socio de negocio</th>
                    <th class="bg-green-50"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-_Registro let-editing="editing" let-ri="rowIndex">
                <tr  [pEditableRow]="_Registro">
                    <td class="border-bottom-1 border-200">
                        <p-cellEditor>
                            <ng-template  pTemplate="input">
                                <p-dropdown
                                 [options]="Flujos" name="ItemSeleccionados" 
                                appendTo="body" [(ngModel)]="_Registro.idFlujo.name" [filter]="true" [showClear]="false" optionLabel="name"
                                filterBy="name" [style]="{'width':'100%'}"
                                placeholder="Tipo de flujo">
                                <ng-template   pTemplate="selectedItem" let-selectedItem>
                                    {{selectedItem.name}}
                                </ng-template>
                            </p-dropdown>
                             </ng-template>
                            <ng-template    pTemplate="output">
                                    {{_Registro.idFlujo}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                
                    <td class="border-bottom-1 border-200">
                        <p-cellEditor>
                            <ng-template  pTemplate="input">
                                <p-dropdown
                                 [options]="Items" name="ItemSeleccionados"
                                appendTo="body" [(ngModel)]="_Registro.Elemento.Nombre" [filter]="true" [showClear]="false" optionLabel="Nombre"
                                filterBy="Nombre" [style]="{'width':'100%'}"
                                placeholder="Seleccione una categoría">
                                <ng-template  pTemplate="selectedItem" let-selectedItem>
                                    {{selectedItem.Nombre}}
                                </ng-template>
                            </p-dropdown>
                             </ng-template>
                            <ng-template  pTemplate="output">
                                    {{_Registro.Elemento.Nombre}}
                                    
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td class="border-bottom-1 border-200">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-dropdown
                                 [options]="Categorias" name="ItemSeleccionados"
                                appendTo="body" [(ngModel)]="_Registro.idCategoria" [filter]="true" [showClear]="false" optionLabel="Nombre"
                                filterBy="Nombre" [style]="{'width':'100%'}"
                                placeholder="Seleccione una categoría">
                                <ng-template   pTemplate="selectedItem" let-selectedItem>
                                    {{selectedItem.Nombre}}
                                </ng-template>
                            </p-dropdown>
                             </ng-template>
                            <ng-template   pTemplate="output">
                                    {{_Registro.idCategoria.Nombre}}
                                    
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td class="border-bottom-1 border-200">
                      <p-cellEditor>
                          <ng-template pTemplate="input">
                              <input pInputText type="text" [(ngModel)]="_Registro.Cuenta" required>
                          </ng-template>
                          <ng-template pTemplate="output">
                              {{_Registro.Cuenta}}
                          </ng-template>
                      </p-cellEditor>
                    </td>
                    <td class="border-bottom-1 border-200">
                      <p-cellEditor>
                          <ng-template pTemplate="input">
                              <input  pInputText type="text" [(ngModel)]="_Registro.Valor" required>
                          </ng-template>
                          <ng-template pTemplate="output">
                              {{_Registro.Valor}}
                          </ng-template>
                      </p-cellEditor>
                    </td>
                    <td class="border-bottom-1 border-200">
                        <p-cellEditor class="min-w-full">
                            <ng-template pTemplate="input" [(ngModel)] = "_Registro.FechaRegistro">
                                <div style="min-width: 9rem;">
                                    <p-calendar [touchUI]="true" ></p-calendar>

                                </div>
                            </ng-template>
                            
                       
                            <ng-template pTemplate="output">
                                {{_Registro.FechaRegistro }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td class="border-bottom-1 border-200">
                        <p-cellEditor>
                            <ng-template  pTemplate="input">
                                <p-dropdown
                                 [options]="SociosNegocios" name="ItemSeleccionados"
                                appendTo="body" [(ngModel)]="_Registro.idSocioNegocio" [filter]="true" [showClear]="false" optionLabel="Nombre"
                                filterBy="Nombre" [style]="{'width':'100%'}"
                                placeholder="Socio de negocio">
                                <ng-template   pTemplate="selectedItem" let-selectedItem>
                                    {{selectedItem.Nombre}}
                                </ng-template>
                            </p-dropdown>
                             </ng-template>
                            <ng-template   pTemplate="output">
                                    {{_Registro.idSocioNegocio.Nombre }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td class="border-bottom-1 border-200">
                      <div class="flex align-items-center justify-content-center gap-2">
                            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(_Registro)" class="p-button-rounded p-button-text"></button>
                            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow  (click)="onRowEditSave(_Registro)" class="p-button-rounded p-button-text p-button-success mr-2"><i class="pi pi-spin pi-spinner" style="font-size: 1.5rem"></i></button>
                            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(_Registro, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                        </div> 
                    </td>
                </tr>
            </ng-template>
        </p-table>
      </div>
 -->
