<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Store Manager Recapt" [options]="false">
   <p-accordion *ngIf="cargando==false" [activeIndex]="0">
        <p-accordionTab [header]="catalogo.Nombre" *ngFor="let catalogo of CatalogoElementos; let i = index">
      
          <ag-grid-angular *ngIf="cargando==false" style="width: 100%; height: 500px" class="ag-theme-alpine"
            [rowData]="RowData[i]" [pagination]="true"
            [suppressMovableColumns]="true"        
            [columnDefs]="Cabecera" rowSelection="single"
            (gridReady)="onGridReady($event)" [localeText]="localeText"
            [defaultColDef]="{ resizable: true, sortable: true, filter: true }">
          </ag-grid-angular>
        </p-accordionTab>
    </p-accordion>


    </app-card>
  </div>
</div>
